{% extends 'dashboard/layouts/app.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as f with context %}

{% block title %}
    Welcome | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block header %}
  
    <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    {% call role_urls.dashboard_url() %}
                        <img src="{{ url_for('static', filename='common/images/lyfeshoppe_logo_very_small.png') }}" alt="logo" class="logo-default" />
                    {% endcall %}

                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->

        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Activating New Account</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab">Welcome to LyfeShoppe</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <!-- PERSONAL INFO TAB -->
                                            <div class="tab-pane active" id="tab_1_1">

                                                {% set endpoint = 'backend.account_settings' %}
                                                {% set form_kwargs = {} %}
                                                {% call f.form_tag(endpoint, **form_kwargs) %}
                                                <form action="#" class="form-horizontal col-md-offset-1">
                                                    <div class="form-body">
                                                        <h3 class="form-section">Personal Details</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                        {% call f.form_group(form.first_name, css_class='sm-margin-bottom') %}
                                                                        {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                        {% call f.form_group(form.last_name, css_class='sm-margin-bottom') %}
                                                                        {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                      {% call f.form_group(form.email, css_class='sm-margin-bottom') %}
                                                                      {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                        {% call f.form_group(form.phone, css_class='sm-margin-bottom') %}
                                                                        {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <h3 class="form-section">Address</h3>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                      {% call f.form_group(form.street, css_class='sm-margin-bottom') %}
                                                                      {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                        {% call f.form_group(form.city, css_class='sm-margin-bottom') %}
                                                                        {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                      {% call f.form_group(form.state, css_class='sm-margin-bottom') %}
                                                                      {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                        {% call f.form_group(form.zipcode, css_class='sm-margin-bottom') %}
                                                                        {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                      {% call f.form_group(form.district, css_class='sm-margin-bottom') %}
                                                                      {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-9">
                                                                        {% call f.form_group(form.country, css_class='sm-margin-bottom') %}
                                                                        {% endcall %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                    </div>

                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-offset-6 col-md-12">

                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <button type="submit" class="btn green">
                                                                                  {{ _('Save') }}
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <div class="visible-xs visible-sm sm-margin-top"></div>
                                                                                <a href="{{ url_for('backend.user_account') }}"
                                                                                   class="btn red btn-block">
                                                                                  {{ _('Cancel') }}
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6"> </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                {% endcall %}

                                            </div>
                                            <!-- END PERSONAL INFO TAB -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}
