{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Shop | CheerMonk | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN CONTENT HEADER -->
            <div class="row margin-bottom-40 about-header" style="height: 300px;">
                <div class="col-md-12">
                    <h1>Bikram Yoga</h1>
                    <h2>Life is either a great adventure or nothing</h2>
                    <button type="button" class="btn btn-danger">JOIN US TODAY</button>
                </div>
            </div>
            <!-- END CONTENT HEADER -->
            <!-- BEGIN TEXT & VIDEO -->
            <div class="row margin-bottom-40">
                <div class="col-md-8">
                    <div class="portlet box blue">
                        <div class="portlet-body">
                            <div class="tabbable-custom nav-justified">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#tab_1_1_1" data-toggle="tab"> Book Appoinments </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_2" data-toggle="tab"> Staff </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_3" data-toggle="tab"> Services </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_4" data-toggle="tab"> About Us </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1_1">
                                        <h3>Select Date</h3>
                                        <div id="datepaginator_sample_3"> </div>
                                    </div>
                                    <div class="tab-pane" id="tab_1_1_2">
                                        <p> Howdy, I'm in Section 2. </p>
                                        <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                            consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. </p>
                                        <p>
                                            <a class="btn green" href="ui_tabs_accordions_navs.html#tab_1_1_2" target="_blank"> Activate this tab via URL </a>
                                        </p>
                                    </div>
                                    <div class="tab-pane" id="tab_1_1_3">
                                        <p> Howdy, I'm in Section 3. </p>
                                        <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                                            iriure dolor in hendrerit in vulputate velit esse molestie consequat </p>
                                        <p>
                                            <a class="btn yellow" href="ui_tabs_accordions_navs.html#tab_1_1_3" target="_blank"> Activate this tab via URL </a>
                                        </p>
                                    </div>
                                    <div class="tab-pane" id="tab_1_1_4">
                                        <p> Howdy, I'm in Section 4. </p>
                                        <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                                            iriure dolor in hendrerit in vulputate velit esse molestie consequat </p>
                                        <p>
                                            <a class="btn yellow" href="ui_tabs_accordions_navs.html#tab_1_1_4" target="_blank"> Activate this tab via URL </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portlet light portlet-fit ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-red"></i>
                                <span class="caption-subject font-red bold">Address</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="gmap_basic" class="gmaps"> </div>
                        </div>
                    </div>

                    <div id="js-grid-juicy-projects" class="cbp">
                        <div class="cbp-item graphic">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{ url_for('static', filename='dashboard/global/img/portfolio/600x600/013.jpg') }}" alt=""> </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="{{ url_for('static', filename='dashboard/global/img/portfolio/1200x900/57.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Dashboard<br>by Paul Flavius Nechita">view portfolio</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END TEXT & VIDEO -->
            <!-- BEGIN MEMBERS SUCCESS STORIES -->
            <div class="row margin-bottom-40 stories-header" data-auto-height="true">
                <div class="col-md-12">
                    <h1>Members Success Stories</h1>
                    <h2>Life is either a great adventure or nothing</h2>
                </div>
            </div>
            <div class="row margin-bottom-20 stories-cont">
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="photo">
                            <img src="{{ url_for('static', filename='dashboard/pages/media/users/teambg1.jpg') }}" alt="" class="img-responsive" /> </div>
                        <div class="title">
                            <span> Mark Wahlberg </span>
                        </div>
                        <div class="desc">
                            <span> We are at our very best, and we are happiest, when we are fully engaged in work we enjoy on the journey toward the goal we've established for ourselves. </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="photo">
                            <img src="{{ url_for('static', filename='dashboard/pages/media/users/teambg2.jpg') }}" alt="" class="img-responsive" /> </div>
                        <div class="title">
                            <span> Lindsay Lohan </span>
                        </div>
                        <div class="desc">
                            <span> Do what you love to do and give it your very best. Whether it's business or baseball, or the theater, or any field. If you don't love what you're doing and you can't give it your best, get out of it. </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="photo">
                            <img src="{{ url_for('static', filename='dashboard/pages/media/users/teambg5.jpg') }}" alt="" class="img-responsive" /> </div>
                        <div class="title">
                            <span> John Travolta </span>
                        </div>
                        <div class="desc">
                            <span> To be nobody but yourself in a world which is doing its best, to make you everybody else means to fight the hardest battle which any human being can fight; and never stop fighting. </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="photo">
                            <img src="{{ url_for('static', filename='dashboard/pages/media/users/teambg8.jpg') }}" alt="" class="img-responsive" /> </div>
                        <div class="title">
                            <span> Tom Brady </span>
                        </div>
                        <div class="desc">
                            <span> You have to accept whatever comes and the only important thing is that you meet it with courage and with the best that you have to give. Never give up, never surrender. Go all out or gain nothing. </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-40 stories-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger">SEE MORE STORIES</button>
                </div>
            </div>
            <!-- END MEMBERS SUCCESS STORIES -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


