<li class="nav-item start">
    <a href="{{ url_for('backend.shop') }}" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Shop</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item start">
    <a href="{{ url_for('backend.shop') }}" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Dashboard</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.businesses') }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Businesses</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.shop') }}" class="nav-link nav-toggle">
        <i class="icon-basket"></i>
        <span class="title">Referrals</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.shop') }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Purchases</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.shop') }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Cheermonk</span>
        <span class="arrow"></span>
    </a>
</li>