{% extends 'frontend/layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}
    Login | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
    LyfeShoppe Login page
{% endblock %}

{% block body %}

        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">

                    <div class="divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
                        <div class="tab-container">

                            <div class="panel panel-default nobottommargin">
                                <div class="panel-body" style="padding: 40px;">

                                  {% call f.form_tag('user.login') %}
                                    <legend>Sign in to continue</legend>

                                    {% call f.form_group(form.identity, css_class='sm-margin-bottom', autofocus='autofocus') %}
                                    {% endcall %}

                                    {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
                                    {% endcall %}

                                    <div class="row">
                                      <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary btn-block">
                                          {{ _('Sign in') }}
                                        </button>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="visible-xs visible-sm sm-margin-top"></div>
                                        <a href="{{ url_for('user.signup') }}" class="btn btn-default btn-block">
                                          {{ _('Register') }}
                                        </a>
                                      </div>
                                    </div>
                                  {% endcall %}

                                  <div class="text-center margin-top">
                                    <a href="{{ url_for('user.begin_password_reset') }}" class="text-muted">
                                      {{ _('Forgot your password?') }}
                                    </a>
                                  </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- #content end -->

{% endblock %}
