{% import 'dashboard/macros/form.jinja2' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'backend.shop_reviews_new' %}
  {% set form_kwargs = {'username': business.username, 'employee_id': employee.id} %}
  {% set legend = 'Write a new Review' %}
  {% set button = _('Add') %}
{% else %}
  {% set endpoint = 'backend.review_edit' %}
  {% set form_kwargs = {'id': review.id} %}
  {% set button = _('Save') %}
{% endif %}

{% call f.form_tag(endpoint, **form_kwargs) %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i> {{ legend }} 
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">

            <div class="form-body">
                <h3 class="form-section">Review Text</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.status, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                {% call f.form_group(form.description, css_class='sm-margin-bottom', rows=10, cols=2000) %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-12">

                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn green">
                                          {{ button }}
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="visible-xs visible-sm sm-margin-top"></div>
                                        {% if request.endpoint.endswith('new') %}
                                            <a href="{{ url_for('backend.shop_details', username=business.username, employee_id=employee.id) }}"
                                            class="btn red btn-block">
                                                {{ _('Cancel') }}
                                            </a>
                                        {% else %}
                                            <a href="{{ url_for('backend.reviews') }}"
                                            class="btn red btn-block">
                                                {{ _('Cancel') }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>


        </form>
        <!-- END FORM-->
    </div>
</div>
{% endcall %}