{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Shop | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN CONTENT HEADER -->
            <div class="row margin-bottom-40 about-header" style="height: 300px;">
                <div class="col-md-12">
                    <h1>{{ business.name }}</h1>
                    <h2>Life is either a great adventure or nothing</h2>

                    <div class="col-md-6">
                        <a href="#shop_addr" type="button" class='btn btn-danger'>View Address on Map</a>
                    </div>

                    <div class="col-md-6">
                        <div id="js-grid-juicy-projects" class="cbp">
                        </div>
                        <a href="{{ url_for('static', filename='dashboard/global/img/portfolio/1200x900/57.jpg') }}" class="cbp-lightbox btn btn-danger" data-title="Dashboard<br>by Paul Flavius Nechita">view portfolio Images</a>
                        <a href="{{ url_for('static', filename='dashboard/global/img/portfolio/1200x900/50.jpg') }}" class="cbp-lightbox" data-title="Dashboard<br>by Paul Flavius Nechita"></a>
                        </div>
                </div>
            </div>
            <!-- END CONTENT HEADER -->
            <!-- BEGIN TEXT & VIDEO -->
            <div class="row margin-bottom-40">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-body">
                            <div class="tabbable-custom nav-justified">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#tab_1_1_1" data-toggle="tab"> Book Appoinments </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_2" data-toggle="tab"> Staff </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_3" data-toggle="tab"> About Us </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1_1">


                                        <div class="row">
                                            <div class="col-md-offset-0 col-md-12">
                                                <div class="mt-element-list">
                                                    <div class="mt-list-head list-todo opt-2 font-black bg-muted">
                                                        <div class="list-head-title-container">
                                                            <h3 class="list-title" style="text-align: center;">Services.</h3>
                                                        </div>
                                                    </div>
                                                    <div class="mt-list-container list-todo opt-2">
                                                        <div class="list-todo-line bg-red"></div>
                                                        <ul>
                                                            <li class="mt-list-item">
                                                                <div class="list-todo-icon bg-white font-blue-steel">
                                                                    <i class="fa fa-database"></i>
                                                                </div>
                                                                <div class="list-todo-item item-1">
                                                                    <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-1-2" aria-expanded="false">
                                                                        <div class="list-toggle done uppercase bg-blue-steel">
                                                                            <div class="list-toggle-title bold">Massage</div>
                                                                            <div class="badge badge-default pull-right bg-white font-dark bold">{{ business.active_products | length }}</div>
                                                                        </div>
                                                                    </a>
                                                                    <div class="task-list panel-collapse collapse in" id="task-1-2">
                                                                        <ul>
                                                                        {% for product in business.active_products %}
                                                                            <li class="task-list-item done">
                                                                                <div class="task-content">
                                                                                        <div class="row">
                                                                                            <div class="col-md-9">
                                                                                                <h5 class="uppercase bold">
                                                                                                    {{ product.name }}
                                                                                                </h5>
                                                                                            </div>
                                                                                            <div class="col-md-2">
                                                                                                <h5 class="uppercase bold">
                                                                                                    ${{ product.price_cents/100 }}+
                                                                                                </h5>
                                                                                            </div>
                                                                                            <div class="col-md-1">
                                                                                                <a class="btn btn-default" href="{{ url_for('backend.shop_booking', id=business.id, product_id=product.id) }}">Book</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    <p> {{ product.description }} </p>
                                                                                </div>
                                                                            </li>
                                                                        {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="mt-list-item">
                                                                <div class="list-todo-icon bg-white font-green-meadow">
                                                                    <i class="fa fa-paint-brush"></i>
                                                                </div>
                                                                <div class="list-todo-item item-2">
                                                                    <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-2-2" aria-expanded="false">
                                                                        <div class="list-toggle done uppercase bg-green-meadow">
                                                                            <div class="list-toggle-title bold">Hair Art</div>
                                                                            <div class="badge badge-default pull-right bg-white font-dark bold">{{ business.active_products | length }}</div>
                                                                        </div>
                                                                    </a>
                                                                    <div class="task-list panel-collapse collapse" id="task-2-2">
                                                                        <ul>
                                                                        {% for product in business.active_products %}
                                                                            <li class="task-list-item done">
                                                                                <div class="task-content">
                                                                                        <div class="row">
                                                                                            <div class="col-md-9">
                                                                                                <h5 class="uppercase bold">
                                                                                                    {{ product.name }}
                                                                                                </h5>
                                                                                            </div>
                                                                                            <div class="col-md-2">
                                                                                                <h5 class="uppercase bold">
                                                                                                    ${{ product.price_cents/100 }}+
                                                                                                </h5>
                                                                                            </div>
                                                                                            <div class="col-md-1">
                                                                                                <a class="btn btn-default" href="{{ url_for('backend.shop_booking', id=business.id, product_id=product.id) }}">Book</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    <p> {{ product.description }} </p>
                                                                                </div>
                                                                            </li>
                                                                        {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="mt-list-item">
                                                                <div class="list-todo-icon bg-white font-yellow-crusta">
                                                                    <i class="fa fa-sticky-note-o"></i>
                                                                </div>
                                                                <div class="list-todo-item item-3">
                                                                    <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-3-2" aria-expanded="false">
                                                                        <div class="list-toggle done uppercase bg-yellow-crusta">
                                                                            <div class="list-toggle-title bold">Nail Spa</div>
                                                                            <div class="badge badge-default pull-right bg-white font-dark bold">{{ business.active_products | length }}</div>
                                                                        </div>
                                                                    </a>
                                                                    <div class="task-list panel-collapse collapse" id="task-3-2">
                                                                        <ul>
                                                                        {% for product in business.active_products %}
                                                                            <li class="task-list-item done">
                                                                                <div class="task-content">
                                                                                        <div class="row">
                                                                                            <div class="col-md-9">
                                                                                                <h5 class="uppercase bold">
                                                                                                    {{ product.name }}
                                                                                                </h5>
                                                                                            </div>
                                                                                            <div class="col-md-2">
                                                                                                <h5 class="uppercase bold">
                                                                                                    ${{ product.price_cents/100 }}+
                                                                                                </h5>
                                                                                            </div>
                                                                                            <div class="col-md-1">
                                                                                                <a class="btn btn-default" href="{{ url_for('backend.shop_booking', id=business.id, product_id=product.id) }}">Book</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    <p> {{ product.description }} </p>
                                                                                </div>
                                                                            </li>
                                                                        {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tab_1_1_2">

                                    {% for employee in employees %}
                                        <div class="profile">
                                            <div class="tabbable-line tabbable-full-width">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_{{loop.index}}_1" data-toggle="tab"> Overview </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_{{loop.index}}_1">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <ul class="list-unstyled profile-nav">
                                                                    <li>
                                                                        <img src="{{ url_for('static', filename='dashboard/pages/media/profile/people19.png') }}" class="img-responsive pic-bordered" alt="" />
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <div class="row">
                                                                    <div class="col-md-8 profile-info">
                                                                        <h1 class="font-green sbold uppercase">{{ employee['name'] }}</h1>
                                                                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.
                                                                            </p>
                                                                        <p>
                                                                            <a href="mailto:{{ employee['email'] }}">{{ employee['email'] }}</a>
                                                                        </p>
                                                                        <ul class="list-inline">
                                                                            <li>
                                                                                <i class="fa fa-map-marker"></i> {{ employee['city'] }} </li>
                                                                            <li>
                                                                                <i class="fa fa-mobile"></i> {{ employee['phone'] }} </li>
                                                                            <li>
                                                                        </ul>
                                                                    </div>
                                                                    <!--end col-md-8-->
                                                                    <div class="col-md-4">
                                                                        <div class="portlet sale-summary">
                                                                            <div class="portlet-title">
                                                                                <div class="caption font-red sbold"> Sales Summary </div>
                                                                                <div class="tools">
                                                                                    <a class="reload" href="javascript:;"> </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="portlet-body">
                                                                                <ul class="list-unstyled">
                                                                                    <li>
                                                                                        <span class="sale-info"> CURRENT RESERVATIONS
                                                                                            <i class="fa fa-img-up"></i>
                                                                                        </span>
                                                                                        <span class="sale-num"> {{ employee.total_reservations }} </span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="sale-info"> NUM OF SERVICES OFFERED
                                                                                            <i class="fa fa-img-down"></i>
                                                                                        </span>
                                                                                        <span class="sale-num"> {{ employee.num_of_services }} </span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end col-md-4-->
                                                                </div>
                                                                <!--end row-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end tab-pane-->
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    </div>
                                    <div class="tab-pane" id="tab_1_1_3">
                                        <div class="profile">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <ul class="list-unstyled profile-nav">
                                                        <li>
                                                            <img src="{{ url_for('static', filename='dashboard/global/img/portfolio/600x600/62.jpg') }}" class="img-responsive pic-bordered" alt="" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-8 profile-info">
                                                            <h1 class="font-green sbold uppercase">{{ business.name }}</h1>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.
                                                                </p>
                                                            <p><a href="#">www.website.com</a></p>
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </li>
                                                            </ul>
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <i class="fa fa-map-marker"></i> {{ business.address.city }} </li>
                                                                <li>
                                                                    <i class="fa fa-briefcase"></i> {{ business.type }} </li>
                                                            </ul>
                                                        </div>
                                                        <!--end col-md-8-->
                                                        <div class="col-md-4">
                                                            <div data-auto-height=".c-height">
                                                                <div>
                                                                    <div class="c-body">
                                                                        <div class="c-section">
                                                                            <div class="uppercase bg-blue">Address</div>
                                                                            <p>
                                                                                {{ business.address.street }},
                                                                                <br/>{{ business.address.city }},
                                                                                <br/>{{ business.address.state }} - {{ business.address.zipcode }}
                                                                            </p>
                                                                        </div>
                                                                        <div class="c-section">
                                                                            <div class="uppercase bg-blue">Phone &amp; Email</div>
                                                                            <p>
                                                                                <strong>Phone: </strong> {{ business.phone }}
                                                                                <br/>
                                                                                <strong>Email: </strong> {{ business.email }}
                                                                            </p>
                                                                        </div>
                                                                        <div class="c-section">
                                                                            <div class="uppercase bg-blue">Business Hours</div>
                                                                            <p>
                                                                                <strong>Open: </strong> {{ business.opening_time }}
                                                                                <br/>
                                                                                <strong>Close: </strong> {{ business.closing_time }}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end col-md-4-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div>
                    <div class="col-md-6" id="shop_addr">
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class=" icon-layers font-red"></i>
                                    <span class="caption-subject font-red bold">Address</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="gmap_basic" class="gmaps"> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- BEGIN MARKERS PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class=" icon-layers font-blue"></i>
                                    <span class="caption-subject font-blue bold uppercase">Markers</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="gmap_marker" class="gmaps"> </div>
                            </div>
                        </div>
                        <!-- END MARKERS PORTLET-->
                    </div>

                </div>

            </div>
            <!-- END TEXT & VIDEO -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


