{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Shop | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set front_image = type_images|random %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN CONTENT HEADER -->
            <div class="row margin-bottom-40 about-header" style="height: 300px;">
                <div class="col-md-12">
                    <h1>{{ business.name }}</h1>
                    <h2>{{ business.city }}, {{ business.state }}</h2>
                </div>
            </div>
            <!-- END CONTENT HEADER -->
            <!-- BEGIN TEXT & VIDEO -->
            <div class="row margin-bottom-40">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-body">
                            <div class="tabbable-custom nav-justified">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#tab_1_1_1" data-toggle="tab"> Book Appoinments </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_2" data-toggle="tab"> Staff </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_3" data-toggle="tab"> About Us </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1_1">
                                        <div class="row">
                                            <div class="col-md-offset-0 col-md-12">
                                                <div class="mt-element-list">
                                                    <div class="mt-list-head list-todo opt-2 font-black bg-muted">
                                                        <div class="list-head-title-container">
                                                            <h3 class="list-title" style="text-align: center;">Services.</h3>
                                                        </div>
                                                    </div>
                                                    <div class="mt-list-container list-todo opt-2">
                                                        <div class="list-todo-line bg-red"></div>
                                                        <ul>
                                                            {% for category, services in products.iteritems() %}
                                                                <li class="mt-list-item">
                                                                    {% set colors = ["bg-blue-steel", "bg-red", "bg-green-meadow", "bg-yellow-crusta", "bg-dark"] %}
                                                                    {% set icons = ["fa-database", "fa-table", "fa-pencil", "fa-star-half-o", "fa-paint-brush"] %}
                                                                    <div class="list-todo-icon bg-white">
                                                                        <i class="fa {{icons[loop.index % 5]}}"></i>
                                                                    </div>
                                                                    <div class="list-todo-item">
                                                                        <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-1-2" aria-expanded="false">
                                                                            <div class="list-toggle done uppercase {{colors[loop.index % 5]}}">
                                                                                <div class="list-toggle-title bold">{{category}}</div>
                                                                                <div class="badge badge-default pull-right bg-white font-dark bold">{{ services | length }}</div>
                                                                            </div>
                                                                        </a>
                                                                        <div class="task-list panel-collapse collapse in" id="task-1-2">
                                                                            <ul>
                                                                            {% for product in services %}
                                                                                <li class="task-list-item done">
                                                                                    <div class="task-content">
                                                                                            <div class="row">
                                                                                                <div class="col-md-9">
                                                                                                    <h5 class="uppercase bold">
                                                                                                        {{ product.name }}
                                                                                                    </h5>
                                                                                                </div>
                                                                                                <div class="col-md-2">
                                                                                                    <h5 class="uppercase bold">
                                                                                                        ${{ product.price_cents/100 }}+
                                                                                                    </h5>
                                                                                                </div>
                                                                                                <div class="col-md-1">
                                                                                                    <a class="btn btn-default" href="{{ url_for('backend.shop_booking', username=business.username, product_id=product.id) }}">Book</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        <p> {{ product.description }} </p>
                                                                                    </div>
                                                                                </li>
                                                                            {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tab_1_1_2">

                                    {% for employee in business.active_employees %}
                                        <div class="profile">
                                            <div class="tabbable-line tabbable-full-width">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_{{loop.index}}_1" data-toggle="tab"> Overview </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_{{loop.index}}_2" data-toggle="tab"> Reviews </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_{{loop.index}}_1">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <ul class="list-unstyled profile-nav">
                                                                    <li>
                                                                        <img src="{{ url_for('static', filename='common/images/anonymous.jpg') }}" class="img-responsive pic-bordered" alt="" />
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <div class="row">
                                                                    <div class="col-md-8 profile-info">
                                                                        <h1 class="font-green sbold uppercase">{{ employee.user.name }}</h1>
                                                                        <p>{{ employee.about }}</p>
                                                                        <p>
                                                                            <a href="mailto:{{ employee.user.email }}">{{ employee.user.email }}</a>
                                                                        </p>
                                                                        <ul class="list-inline">
                                                                            <li>
                                                                                <i class="fa fa-map-marker"></i> {{ employee.user.city }} </li>
                                                                            <li>
                                                                                <i class="fa fa-mobile"></i> {{ employee.user.phone }} </li>
                                                                            <li>
                                                                        </ul>
                                                                        <ul class="list-inline">
                                                                            <li>
                                                                                {% if employee.rating == 0 %}
                                                                                    Not rated
                                                                                {% else %}
                                                                                    {% for i in range(employee.rating) %}
                                                                                        <i class="fa fa-star"></i>
                                                                                    {% endfor %}
                                                                                    {% for i in range(5-employee.rating) %}
                                                                                        <i class="fa fa-star-o"></i>
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                            <li>
                                                                        </ul>
                                                                    </div>
                                                                    <!--end col-md-8-->
                                                                    <div class="col-md-4">
                                                                        <div class="portlet sale-summary">
                                                                            <div class="portlet-title">
                                                                                <div class="caption font-red sbold"> Sales Summary </div>
                                                                                <div class="tools">
                                                                                    <a class="reload" href="javascript:;"> </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="portlet-body">
                                                                                <ul class="list-unstyled">
                                                                                    <li>
                                                                                        <span class="sale-info"> CURRENT RESERVATIONS
                                                                                            <i class="fa fa-img-up"></i>
                                                                                        </span>
                                                                                        <span class="sale-num"> {{ employee.reservations | length }} </span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="sale-info"> NUM OF SERVICES OFFERED
                                                                                            <i class="fa fa-img-down"></i>
                                                                                        </span>
                                                                                        <span class="sale-num"> {{ employee.products | length }} </span>
                                                                                    </li>
                                                                                    <li>
                                                                                        </br>
                                                                                        <div class="col-md-1">
                                                                                            <a class="btn btn-default yellow" href="{{ url_for('backend.shop_reviews_new', username=business.username, employee_id=employee.id) }}">Write a Review</a>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end col-md-4-->
                                                                </div>
                                                                <!--end row-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--tab_1_2-->
                                                    <div class="tab-pane" id="tab_{{loop.index}}_2">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="tab-content">
                                                                    <div id="tab_1" class="tab-pane active">
                                                                        <div id="accordion_{{loop.index}}" class="panel-group">
                                                                        {% set review_accordian_number = loop.index %}
                                                                            {% if not employee.reviews | length %}
                                                                                <div class="col-md-12">
                                                                                    No reviews exist for {{employee.user.name}}.
                                                                                    <span><a class="btn btn-outline btn-circle btn-sm red" href="{{ url_for('backend.shop_reviews_new', username=business.username, employee_id=employee.id) }}"><i class="fa fa-edit"></i>Write review now.</a></span>
                                                                                </div>
                                                                            {% else %}
                                                                                {% for review in employee.reviews %}
                                                                                    {% set review_statuses = review.STATUS.keys() %}
                                                                                    {% set num_of_review_statuses = review_statuses | length %}
                                                                                    <div class="panel panel-success">
                                                                                        <div class="panel-heading">
                                                                                            <h4 class="panel-title">
                                                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{review_accordian_number}}" href="#accordion_{{review_accordian_number}}_{{loop.index}}">
                                                                                                <span>
                                                                                                {% for i in range(1+review_statuses.index(review.status)) %}
                                                                                                    <i class="fa fa-star"></i></span>
                                                                                                {% endfor %}
                                                                                                {% for i in range(num_of_review_statuses-1-review_statuses.index(review.status)) %}
                                                                                                    <i class="fa fa-star-o"></i></span>
                                                                                                {% endfor %}
                                                                                                ({{review.STATUS[review.status]}})
                                                                                                <span style="float:right;">- reviewed by <b>{{review.customer.user.name if review.customer.user.name else review.customer.user.email}}</b>
                                                                                                </span>
                                                                                                </a>
                                                                                            </h4>
                                                                                        </div>
                                                                                        <div id="accordion_{{review_accordian_number}}_{{loop.index}}" class="panel-collapse collapse">
                                                                                            <div class="panel-body"> {{review.description}} </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end tab-pane-->
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    </div>
                                    <div class="tab-pane" id="tab_1_1_3">
                                        <div class="profile">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <ul class="list-unstyled profile-nav">
                                                        <li>
                                                            <img src="{{ url_for('static', filename=front_image) }}" class="img-responsive pic-bordered" alt="" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-8 profile-info">
                                                            <h1 class="font-green sbold uppercase">{{ business.name }}</h1>
                                                            <p>{{ business.about }}</p>

                                                            {% if business.website %}
                                                                <p><a href="{{ business.website }}">{{ business.website }}</a></p>
                                                            {% endif %}
                                                            <ul class="list-inline">
                                                                {% if business.twitter %}
                                                                    <li>
                                                                        <a href="{{ business.twitter }}"><i class="fa fa-twitter"></i></a>
                                                                    </li>
                                                                {% endif %}

                                                                {% if business.facebook %}
                                                                    <li>
                                                                        <a href="{{ business.facebook }}"><i class="fa fa-facebook"></i></a>
                                                                    </li>
                                                                {% endif %}

                                                                {% if business.youtube %}
                                                                    <li>
                                                                        <a href="{{ business.youtube }}"><i class="fa fa-youtube-play"></i></a>
                                                                    </li>
                                                                {% endif %}

                                                                {% if business.linkedin %}
                                                                    <li>
                                                                        <a href="{{ business.linkedin }}"><i class="fa fa-linkedin"></i></a>
                                                                    </li>
                                                                {% endif %}

                                                            </ul>
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <i class="fa fa-map-marker"></i> {{ business.city }} </li>
                                                                <li>
                                                                    <i class="fa fa-briefcase"></i> {{ business.type }} </li>
                                                            </ul>
                                                        </div>
                                                        <!--end col-md-8-->
                                                        <div class="col-md-4">
                                                            <div data-auto-height=".c-height">
                                                                <div>
                                                                    <div class="c-body">
                                                                        <div class="c-section">
                                                                            <div class="uppercase bg-blue">Address</div>
                                                                            <p>
                                                                                {{ business.street }},
                                                                                <br/>{{ business.city }},
                                                                                <br/>{{ business.state }} - {{ business.zipcode }}
                                                                            </p>
                                                                        </div>
                                                                        <div class="c-section">
                                                                            <div class="uppercase bg-blue">Phone &amp; Email</div>
                                                                            <p>
                                                                                <strong>Phone: </strong> {{ business.phone }}
                                                                                <br/>
                                                                                <strong>Email: </strong> {{ business.email }}
                                                                            </p>
                                                                        </div>
                                                                        <div class="c-section">
                                                                            <div class="uppercase bg-blue">Business Hours</div>
                                                                            <p>
                                                                                <strong>Open: </strong> {{ business.opening_time | datetime("time-only") }}
                                                                                <br/>
                                                                                <strong>Close: </strong> {{ business.closing_time | datetime("time-only") }}
                                                                                <br/>
                                                                                {% if business.weekends_open %}*We are open on weekends{% else %} *We are closed on weekends  {% endif %}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end col-md-4-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TEXT & VIDEO -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


