{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Shop | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">



            <div class="row">
                <div class="col-md-4">
                    <form>
                        <div class="col-md-9">
                            <div class="input-group input-group-sm select2-bootstrap-prepend">
                                <select id="select2-button-addons-multiple-input-group-sm" class="form-control select2-multiple" multiple>
                                    <optgroup label="Alaskan">
                                        <option value="AK">Alaska</option>
                                        <option value="HI" disabled="disabled">Hawaii</option>
                                    </optgroup>
                                    <optgroup label="Pacific Time Zone">
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm red">Search</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-content portfolio-1">
                        <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn dark btn-outline uppercase"> All
                                <div class="cbp-filter-counter"></div>
                            </div>
                            {% for key, value in business_types.iteritems() %}

                            <div data-filter=".{{ key }}" class="cbp-filter-item btn dark btn-outline uppercase"> {{ value }}
                                <div class="cbp-filter-counter"></div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>


            <div class="portfolio-content portfolio-1">
                <div id="js-grid-juicy-projects" class="cbp">

                {% for business in businesses.items %}
                    <div class="cbp-item {{ business.type }}">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ url_for('static', filename='dashboard/global/img/portfolio/600x600/013.jpg') }}" alt=""> </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="{{ url_for('backend.shop_details', username='test') }}" class="cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                        <a href="{{ url_for('static', filename='dashboard/global/img/portfolio/1200x900/57.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="{{ business.name }}">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">{{ business.name }}</div>
                        <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">{{ business.type }}</div>
                    </div>
                {% endfor %}

                </div>
                <div id="js-loadMore-juicy-projects" class="cbp-l-loadMore-button">
                    <a href="{{ url_for('static', filename='dashboard/global/plugins/cubeportfolio/ajax/loadMore.html') }}" class="cbp-l-loadMore-link btn grey-mint btn-outline" rel="nofollow">
                        <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                        <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                        <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


