{# Render assets that get included on all pages. #}
{%- macro render() -%}

  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='dashboard/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='dashboard/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='dashboard/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='dashboard/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='dashboard/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
  <!-- END GLOBAL MANDATORY STYLES -->

  {{ situational_page_level_plugins() }}

  <!-- BEGIN THEME GLOBAL STYLES -->
  <link href="{{ url_for('static', filename='dashboard/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
  <link href="{{ url_for('static', filename='dashboard/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
  <!-- END THEME GLOBAL STYLES -->

  {{ situational_page_level_styles() }}

  <!-- BEGIN THEME LAYOUT STYLES -->
  <link href="{{ url_for('static', filename='dashboard/layouts/layout2/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='dashboard/layouts/layout2/css/themes/blue.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
  <link href="{{ url_for('static', filename='dashboard/layouts/layout2/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
  <!-- END THEME LAYOUT STYLES -->

  <link rel="shortcut icon" href="favicon.ico" /> </head>

  {{ situational() }}

{%- endmacro -%}


{# Render assets that get situationally loaded based on the endpoint. #}
{%- macro situational_page_level_plugins() -%}
  {% if request.endpoint in ('backend.shop_details') %}
      <link href="{{ url_for('static', filename='dashboard/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='dashboard/global/plugins/bootstrap-datepaginator/bootstrap-datepaginator.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='dashboard/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='dashboard/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='dashboard/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" rel="stylesheet" type="text/css" />
  {% endif %}
{%- endmacro -%}


{# Render assets that get situationally loaded based on the endpoint. #}
{%- macro situational_page_level_styles() -%}
  {% if request.endpoint in ('backend.shop_details') %}
      <link href="{{ url_for('static', filename='dashboard/pages/css/profile-2.min.css') }}" rel="stylesheet" type="text/css" />
  {% endif %}
{%- endmacro -%}


{# Render assets that get situationally loaded based on the endpoint. #}
{%- macro situational() -%}
  {% if request.endpoint in ('backend.shop', 'backend.shop_details') %}
      <link href="{{ url_for('static', filename='dashboard/global/plugins/cubeportfolio/css/cubeportfolio.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='dashboard/pages/css/portfolio.min.css') }}" rel="stylesheet" type="text/css" />
  {% endif %}
  {% if request.endpoint in ('backend.shop_details') %}
      <link href="{{ url_for('static', filename='dashboard/pages/css/about.min.css') }}" rel="stylesheet" type="text/css" />
  {% endif %}
{%- endmacro -%}


{# Render polyfills for out dated browsers. #}
{%- macro polyfills() -%}
    <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
    <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
    <!--[if !IE]><!-->
{%- endmacro -%}
