{% extends 'dashboard/layouts/app.jinja2' %}
{% import 'dashboard/macros/items.jinja2' as items %}
{% import 'dashboard/macros/form.jinja2' as f with context %}

{% block title %}
    Reviews / List | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set form_kwargs = {'id': business.id} %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-building"></i>Reviews</div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-6">
                                  {{ f.search('backend.business_reviews', form_kwargs) }}
                                </div>
                            </div>
                            <div class="row">
                                {% if reviews.total == 0 %}
                                    <h3>No results found</h3>
                                    {% if request.args.get('q') %}
                                        <p>Try limiting or removing your search terms.</p>
                                    {% else %}
                                        <p>There are no reviews present.</p>
                                    {% endif %}
                                {% else %}
                                    <div class="table-scrollable">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr>
                                                    <th class="col-header">
                                                        {{ items.sort('employee.user.name', 'Staff Name') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('customer.user.name', 'Customer Name') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('product.name', 'Product') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('status', 'Review Given') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('active') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('description') }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for review in reviews.items %}
                                                    <tr>
                                                        <td>
                                                            {{ review.employee.user.name }}
                                                        </td>
                                                        <td>
                                                            {{ review.customer.user.name }}
                                                        </td>
                                                        <td>
                                                            {{ review.product.name }}
                                                        </td>
                                                        <td>
                                                            {% if review.status == 'poor' %}
                                                                {% set data = "label label-md label-warning label" %}
                                                            {% elif review.status == 'expected_more' %}
                                                                {% set data = "label label-md label-success label" %}
                                                            {% elif review.status == 'average' %}
                                                                {% set data = "label label-md label-info label" %}
                                                            {% elif review.status == 'good' %}
                                                                {% set data = "label label-md label-danger label" %}
                                                            {% elif review.status == 'very_good' %}
                                                                {% set data = "label label-md label-danger label" %}
                                                            {% endif %}
                                                            <span class="{{ data }}"> {{ review.STATUS[review.status] }} </span>
                                                        </td>
                                                        <td>
                                                            {{ review.active }}
                                                        </td>
                                                        <td>
                                                            <a href="#" class="btn btn-outline btn-circle btn-sm red">View</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {{ items.paginate(reviews, form_kwargs) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}
