{# Render assets that get included on all pages. #}
{%- macro render() -%}


  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/./css/bootstrap.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/./style.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/./css/dark.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/./css/font-icons.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/./css/animate.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/./css/magnific-popup.css') }}" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/./css/responsive.css') }}" type="text/css" />

  <!-- External JavaScripts
  ============================================= -->
  <script type="text/javascript" src="{{ url_for('static', filename='frontend/js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='frontend/js/plugins.js') }}"></script>

  <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
  <script type="text/javascript" src="{{ url_for('static', filename='frontend/include/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='frontend/include/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='frontend/./include/rs-plugin/css/settings.css') }}" media="screen" />



  {{ situational() }}
{%- endmacro -%}


{# Render assets that get situationally loaded based on the endpoint. #}
{%- macro situational() -%}

{%- endmacro -%}


{# Render polyfills for out dated browsers. #}
{%- macro polyfills() -%}

    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

{%- endmacro -%}
