{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Business Dashboard | CheerMonk | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set form_kwargs = {'id': business.id} %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title"> Business Dashboard. </h3>
            <!-- END PAGE HEADER-->





            <!-- BEGIN DASHBOARD STATS 1-->
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat blue">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="1349">0</span>
                                    </div>
                                    <div class="desc"> New Feedbacks </div>
                                </div>
                                <a class="more" href="javascript:;"> View more
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat red">
                                <div class="visual">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="12,5">0</span>M$ </div>
                                    <div class="desc"> Total Profit </div>
                                </div>
                                <a class="more" href="javascript:;"> View more
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat green">
                                <div class="visual">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="549">0</span>
                                    </div>
                                    <div class="desc"> New Orders </div>
                                </div>
                                <a class="more" href="javascript:;"> View more
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat purple">
                                <div class="visual">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> +
                                        <span data-counter="counterup" data-value="89"></span>% </div>
                                    <div class="desc"> Brand Popularity </div>
                                </div>
                                <a class="more" href="javascript:;"> View more
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->









            <div class="row">
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">

                    <a href="{{ url_for('backend.business_employees', **form_kwargs) }}">
                        Employees
                    </a>

                    <span class="pull-right text-muted">
                      {{ group_and_count_employees.total }}
                    </span>
                  </div>
                  <div class="panel-body">
                    {% for item in group_and_count_employees.query %}
                      {% set percent = ((item[0] / group_and_count_employees.total) * 100) | round %}
                      <h5>
                        {{ item[1] | title }}
                        <span class="text-muted">({{ item[0] }})</span>
                      </h5>
                      <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ percent }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ percent }}%;">
                          {{ percent }}%
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="row">
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="{{ url_for('backend.business_products', **form_kwargs) }}">
                        Products
                    </a>
                    <span class="pull-right text-muted">
                      {{ group_and_count_products.total }}
                    </span>
                  </div>
                  <div class="panel-body">
                    {% for item in group_and_count_products.query %}
                      {% set percent = ((item[0] / group_and_count_products.total) * 100) | round %}
                      <h5>
                        {{ item[1] | title }}
                        <span class="text-muted">({{ item[0] }})</span>
                      </h5>
                      <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ percent }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ percent }}%;">
                          {{ percent }}%
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="row">
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="{{ url_for('backend.business_reservations', **form_kwargs) }}">
                        Reservations
                    </a>
                    <span class="pull-right text-muted">
                      {{ group_and_count_reservations.total }}
                    </span>
                  </div>
                  <div class="panel-body">
                    {% for item in group_and_count_reservations.query %}
                      {% set percent = ((item[0] / group_and_count_reservations.total) * 100) | round %}
                      <h5>
                        {{ item[1] | title }}
                        <span class="text-muted">({{ item[0] }})</span>
                      </h5>
                      <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ percent }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ percent }}%;">
                          {{ percent }}%
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


