{% extends 'dashboard/layouts/app.jinja2' %}
{% import 'dashboard/macros/items.jinja2' as items %}
{% import 'dashboard/macros/form.jinja2' as f with context %}

{% block title %}
    Businesses / List | CheerMonk | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set form_kwargs = {} %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-building"></i>Businesses</div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-6">
                                  {{ f.search('backend.businesses', form_kwargs) }}
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ url_for('backend.businesses_new') }}"
                                       class="btn sbold green pull-right">
                                        <i class="fa fa-plus"></i> Add Business
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                {% if businesses.total == 0 %}
                                    <h3>No results found</h3>
                                    {% if request.args.get('q') %}
                                        <p>Try limiting or removing your search terms.</p>
                                    {% else %}
                                        <p>There are no businesses present.</p>
                                    {% endif %}
                                {% else %}
                                    {% call f.form_tag('backend.businesses_bulk_deactivate') %}
                                    <div class="table-scrollable">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label for="select_all"></label>
                                                        <input id="select_all" name="select_all" type="checkbox">
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('created_on', 'Date') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('type', 'Business Type') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('name') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('email') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('active') }}
                                                    </th>
                                                    <th class="col-header">
                                                        Visit Dashboard
                                                    </th>
                                                    <th class="col-header">
                                                        Edit Business
                                                    </th>
                                                    <th id="bulk_actions" colspan="5">
                                                        <div class="form-inline">
                                                            {{ f.field(bulk_form.scope, inline=True) }}
                                                            <button type="submit" class="btn btn-danger btn-sm"> Activate/Deactivate Business </button>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for business in businesses.items %}
                                                    <tr>
                                                        <td>
                                                            <label for="bulk_ids"></label>
                                                            <input class="checkbox-item" id="bulk_ids" name="bulk_ids" type="checkbox" value="{{ business.id }}">
                                                        </td>
                                                        <td>
                                                            <time class="from-now" data-datetime="{{ business.created_on }}">
                                                                {{ business.created_on }}
                                                            </time>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                {{ business.type }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('backend.business_dashboard', id=business.id) }}">
                                                                {{ business.name }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {{ business.email }}
                                                        </td>
                                                        <td>
                                                            {{ business.active }}
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('backend.business_dashboard', id=business.id) }}" class="btn btn-outline btn-circle red btn-sm blue">
                                                                <i class="fa fa-share"></i> Dashboard
                                                            </a>

                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('backend.business_edit', id=business.id) }}" class="btn btn-outline btn-circle btn-sm purple">
                                                                <i class="fa fa-edit"></i> Edit
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endcall %}
                                    {{ items.paginate(businesses) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}
