{% import 'macros/layout/assets.jinja2' as assets with context %}

<!doctype html>
<html lang="">

<head>
    <title>
      {% block title %}
      {% endblock %}
    </title>

    {{ assets.render() }}
    {{ assets.polyfills() }}

</head>

<body>

  {% block header %}
  {% endblock %}

  {% block hero %}
  {% endblock %}

  <main class="container">

    {% block heading %}
      <h1 id="cheermonk">Cheermonk</h1>
    {% endblock %}

    {% block body %}
    {% endblock %}
  </main>

  <footer class="footer text-center">
      <div class="container">
          <ul class="list-inline">
              {% block footer %}
              {% endblock %}
          </ul>
      </div>
  </footer>

  {{ javascript_tag('vendor_js', 'app_js') | safe }}
</body>
</html>
