{% import 'macros/form.jinja2' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.products_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new product' %}
  {% set button = _('Add') %}
{% else %}
  {% set endpoint = 'admin.products_edit' %}
  {% set form_kwargs = {'id': product.id} %}
  {% set legend = 'Update this product' %}
  {% set button = _('Save') %}
{% endif %}

<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      {% call f.form_tag(endpoint, **form_kwargs) %}
          <legend>{{ legend }}</legend>

        {% call f.form_group(form.business_id, css_class='sm-margin-bottom') %}
        {% endcall %}

        {% call f.form_group(form.title, css_class='sm-margin-bottom',
                           autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.description, css_class='margin-bottom', rows='12') %}
        {% endcall %}

        {% call f.form_group(form.price, css_class='sm-margin-bottom') %}
        {% endcall %}

          <hr>
          <div class="row">
              <div class="col-md-6">
                  <button type="submit" class="btn btn-primary btn-block">
                    {{ button }}
                  </button>
              </div>
              <div class="col-md-6">
                  <div class="visible-xs visible-sm sm-margin-top"></div>
                  <a href="{{ url_for('admin.products') }}"
                     class="btn btn-default btn-block">
                      {{ _('Cancel') }}
                  </a>
              </div>
          </div>
      {% endcall %}
    </div>
</div>
