{% import 'dashboard/macros/form.jinja2' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'backend.businesses_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new business' %}
  {% set button = _('Add') %}
{% else %}
  {% set endpoint = 'backend.business_edit' %}
  {% set form_kwargs = {'id': business.id} %}
  {% set legend = 'Update this business' %}
  {% set button = _('Save') %}
{% endif %}

{% call f.form_tag(endpoint, **form_kwargs) %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i> {{ legend }} 
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">

            <div class="form-body">
                <h3 class="form-section">Business Info</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.type, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.email, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.phone, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.opening_time, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.closing_time, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.weekends_open, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.active, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <h3 class="form-section">Business Address</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.street, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.city, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.state, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.zipcode, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.district, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.country, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>


            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-12">

                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn green">
                                          {{ button }}
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="visible-xs visible-sm sm-margin-top"></div>
                                        <a href="{{ url_for('backend.businesses') }}"
                                           class="btn red btn-block">
                                          {{ _('Cancel') }}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
{% endcall %}
