{% extends 'dashboard/layouts/app.jinja2' %}
{% import 'dashboard/macros/items.jinja2' as items %}
{% import 'dashboard/macros/form.jinja2' as f with context %}

{% block title %}
    Businesses / List | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set form_kwargs = {} %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <div class="modal fade bs-modal-lg" id="createEventModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Create Appointment</h4>
                        </div>
                        <div class="modal-body">

                            {% set endpoint = 'backend.business_calendar' %}
                            {% set form_kwargs = {'id': business.id} %}
                            {% set legend = 'Create a new Reservation' %}
                            {% set button = _('Create') %}

                            {% call f.form_tag(endpoint, **form_kwargs) %}
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-plus"></i> {{ legend }} 
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form action="#" class="form-horizontal col-md-offset-1">

                                        <div class="form-body">
                                            <h3 class="form-section">Create a Reservation</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-9">
                                                            {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
                                                            {% endcall %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-9">
                                                          {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
                                                          {% endcall %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-9">
                                                          {% call f.form_group(form.email, css_class='sm-margin-bottom') %}
                                                          {% endcall %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-9">
                                                            {% call f.form_group(form.phone, css_class='sm-margin-bottom') %}
                                                            {% endcall %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                        </div>


                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-6 col-md-12">

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <button type="submit" class="btn green">
                                                                      {{ button }}
                                                                    </button>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="visible-xs visible-sm sm-margin-top"></div>
                                                                    <a href="{{ url_for('backend.businesses') }}"
                                                                       class="btn red btn-block">
                                                                      {{ _('Cancel') }}
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            {% endcall %}




                            <form id="createAppointmentForm" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputPatient">Customer Name:</label>
                                    <div class="controls">
                                        <input type="text" name="patientName" id="patientName" tyle="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Value 1&quot;,&quot;Value 2&quot;,&quot;Value 3&quot;]">
                                          <input type="hidden" id="apptStartTime"/>
                                          <input type="hidden" id="apptEndTime"/>
                                          <input type="hidden" id="apptAllDay" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="when">When:</label>
                                    <div class="controls controls-row" id="when" style="margin-top:5px;">
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                            <button id="submitButton" type="button" class="btn green">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit  calendar">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>&nbsp;
                                <span class="caption-subject font-green sbold uppercase">Calendar  for  Employee:  </span>
                                <select class="bs-select input-large" data-style="green">
                                {% for employee in business.employees %}
                                    <option>{{employee.user.name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div id="calendar" class="has-toolbar"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


{% block footer_scripts %}
    <script type="text/javascript">

        var AppCalendar = function() {

            return {
                //main function to initiate the module
                init: function() {
                    this.initCalendar();
                },

                initCalendar: function() {

                    if (!jQuery().fullCalendar) {
                        return;
                    }

                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();

                    var h = {};

                    if (App.isRTL()) {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                right: 'title, prev, next',
                                center: '',
                                left: 'agendaDay, agendaWeek, month, today'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                right: 'title',
                                center: '',
                                left: 'agendaDay, agendaWeek, month, today, prev,next'
                            };
                        }
                    } else {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                left: 'title, prev, next',
                                center: '',
                                right: 'today,month,agendaWeek,agendaDay'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                left: 'title',
                                center: '',
                                right: 'prev,next,today,month,agendaWeek,agendaDay'
                            };
                        }
                    }

                    var initDrag = function(el) {
                        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                        // it doesn't need to have a start or end
                        var eventObject = {
                            title: $.trim(el.text()) // use the element's text as the event title
                        };
                        // store the Event Object in the DOM element so we can get to it later
                        el.data('eventObject', eventObject);
                        // make the event draggable using jQuery UI
                        el.draggable({
                            zIndex: 999,
                            revert: true, // will cause the event to go back to its
                            revertDuration: 0 //  original position after the drag
                        });
                    };

                    var addEvent = function(title) {
                        title = title.length === 0 ? "Untitled Event" : title;
                        var html = $('<div class="external-event label label-default">' + title + '</div>');
                        jQuery('#event_box').append(html);
                        initDrag(html);
                    };

                    $('#external-events div.external-event').each(function() {
                        initDrag($(this));
                    });

                    $('#event_add').unbind('click').click(function() {
                        var title = $('#event_title').val();
                        addEvent(title);
                    });

                    //predefined events
                    $('#event_box').html("");
                    addEvent("My Event 1");
                    addEvent("My Event 2");
                    addEvent("My Event 3");
                    addEvent("My Event 4");
                    addEvent("My Event 5");
                    addEvent("My Event 6");

                    $('#calendar').fullCalendar('destroy'); // destroy the calendar
                    $('#calendar').fullCalendar({ //re-initialize the calendar
                        header: h,
                        defaultView: 'agendaWeek', // change default view with available options from http://arshaw.com/fullcalendar/docs/views/Available_Views/ 
                        slotMinutes: 15,
                        editable: true,
                        selectable: true,
                        select: function(start, end, allDay) {
                            var mywhen = start.format("ddd, MMM Do, h:mm a") + ' - ' + end.format("h:mm a");

                            // NOTE: start & end are moment objects. The below code
                            // converts the start/end moment objects into string format while preserving
                            // the timezone information.
                            // local() = helps preserve the timezone info
                            // format() = writes moment to string format
                            // COnverting moment to String is required coz we are assigning it to an
                            // html tag below & retrieving it again later
                            start = start.local().format()
                            end = end.local().format()

                            $('#createEventModal #apptStartTime').val(start);
                            $('#createEventModal #apptEndTime').val(end);
                            $('#createEventModal #apptAllDay').val(allDay);
                            $('#createEventModal #when').text(mywhen);
                            $('#createEventModal').modal('show');
                        },
                        droppable: true, // this allows things to be dropped onto the calendar !!!
                        drop: function(date, allDay) { // this function is called when something is dropped

                            // retrieve the dropped element's stored Event Object
                            var originalEventObject = $(this).data('eventObject');
                            // we need to copy it, so that multiple events don't have a reference to the same object
                            var copiedEventObject = $.extend({}, originalEventObject);

                            // assign it the date that was reported
                            copiedEventObject.start = date;
                            copiedEventObject.allDay = allDay;
                            copiedEventObject.className = $(this).attr("data-class");

                            // render the event on the calendar
                            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                            $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                            // is the "remove after drop" checkbox checked?
                            if ($('#drop-remove').is(':checked')) {
                                // if so, remove the element from the "Draggable Events" list
                                $(this).remove();
                            }
                        },
                        events: [{
                            title: 'All Day Event',
                            start: new Date(y, m, 1),
                            backgroundColor: App.getBrandColor('yellow')
                        }, {
                            title: 'Long Event',
                            start: new Date(y, m, d - 5),
                            end: new Date(y, m, d - 2),
                            backgroundColor: App.getBrandColor('green')
                        }, {
                            title: 'Repeating Event',
                            start: new Date(y, m, d - 3, 16, 0),
                            allDay: false,
                            backgroundColor: App.getBrandColor('red')
                        }, {
                            title: 'Repeating Event',
                            start: new Date(y, m, d + 4, 16, 0),
                            allDay: false,
                            backgroundColor: App.getBrandColor('green')
                        }, {
                            title: 'Meeting',
                            start: new Date(y, m, d, 10, 30),
                            allDay: false,
                        }, {
                            title: 'Lunch',
                            start: new Date(y, m, d, 12, 0),
                            end: new Date(y, m, d, 14, 0),
                            backgroundColor: App.getBrandColor('grey'),
                            allDay: false,
                        }, {
                            title: 'Birthday Party',
                            start: new Date(y, m, d + 1, 19, 0),
                            end: new Date(y, m, d + 1, 22, 30),
                            backgroundColor: App.getBrandColor('purple'),
                            allDay: false,
                        }, {
                            title: 'Click for Google',
                            start: new Date(y, m, 28),
                            end: new Date(y, m, 29),
                            backgroundColor: App.getBrandColor('yellow'),
                            url: 'http://google.com/',
                        }]
                    });

                }

            };
        }();


        $('#submitButton').on('click', function(e){
            // We don't want this to act as a link so cancel the link action
            e.preventDefault();

            doSubmit();
        });

        function doSubmit(){
            $("#createEventModal").modal('hide');
            console.log($('#apptStartTime').val());
            console.log($('#apptEndTime').val());
            console.log($('#apptAllDay').val());
            alert("form submitted");

            $("#calendar").fullCalendar('renderEvent',
                {
                    title: $('#patientName').val(),
                    start: new Date($('#apptStartTime').val()),
                    end: new Date($('#apptEndTime').val()),
                    allDay: ($('#apptAllDay').val() == "true"),
                },
            true);
        }
        
        jQuery(document).ready(function() {    
           AppCalendar.init(); 
        });
    </script>
{% endblock %}