{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Business Dashboard | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set form_kwargs = {'id': business.id} %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title"> Business Dashboard. </h3>
            <!-- END PAGE HEADER-->

            <!-- BEGIN DASHBOARD STATS 1-->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="{{ business.reservations|length }}"></span>
                            </div>
                            <div class="desc"> Total Reservations </div>
                        </div>
                        <a class="more" href="{{ url_for('backend.business_calendar', id=business.id, call='view') }}"> View more
                            <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                $<span data-counter="counterup" data-value="{{ business.total_sales }}">0</span> </div>
                            <div class="desc"> Total Sales </div>
                        </div>
                        <a class="more" href="{{ url_for('backend.business_calendar', id=business.id, call='view') }}"> View more
                            <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="549">0</span>
                            </div>
                            <div class="desc"> New Reservations </div>
                        </div>
                        <a class="more" href="javascript:;"> View more
                            <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number"> +
                                <span data-counter="counterup" data-value="89"></span>% </div>
                            <div class="desc"> Brand Popularity </div>
                        </div>
                        <a class="more" href="javascript:;"> View more
                            <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- END DASHBOARD STATS 1-->

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-cursor font-purple"></i>
                                <span class="caption-subject font-purple bold uppercase">Business Performance</span>
                            </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                                    <i class="fa fa-repeat"></i> Reload </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number transactions" data-percent="55">
                                            <span>+55</span>% </div>
                                        <a class="title" href="javascript:;"> Transactions
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm"> </div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number visits" data-percent="85">
                                            <span>+85</span>% </div>
                                        <a class="title" href="javascript:;"> New Visits
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm"> </div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number bounce" data-percent="46">
                                            <span>-46</span>% </div>
                                        <a class="title" href="javascript:;"> Bounce
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-red"></i>
                                <span class="caption-subject font-red bold uppercase">Staff Report</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn btn-transparent green btn-outline btn-circle btn-sm active">
                                        <input type="radio" name="options" class="toggle" id="option1">Today</label>
                                    <label class="btn btn-transparent green btn-outline btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Week</label>
                                    <label class="btn btn-transparent green btn-outline btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Month</label>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row number-stats margin-bottom-30">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stat-left">
                                        <div class="stat-chart">
                                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                            <div id="sparkline_bar"></div>
                                        </div>
                                        <div class="stat-number">
                                            <div class="title"> Total </div>
                                            <div class="number"> 2460 </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stat-right">
                                        <div class="stat-chart">
                                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                            <div id="sparkline_bar2"></div>
                                        </div>
                                        <div class="stat-number">
                                            <div class="title"> New </div>
                                            <div class="number"> 719 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th colspan="2"> MEMBER </th>
                                            <th> Earnings </th>
                                            <th> CASES </th>
                                            <th> CLOSED </th>
                                            <th> RATE </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="fit">
                                            <img class="user-pic rounded" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar4.jpg') }}"> </td>
                                        <td>
                                            <a href="javascript:;" class="primary-link">Brain</a>
                                        </td>
                                        <td> $345 </td>
                                        <td> 45 </td>
                                        <td> 124 </td>
                                        <td>
                                            <span class="bold theme-font">80%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="user-pic rounded" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar5.jpg') }}"> </td>
                                        <td>
                                            <a href="javascript:;" class="primary-link">Nick</a>
                                        </td>
                                        <td> $560 </td>
                                        <td> 12 </td>
                                        <td> 24 </td>
                                        <td>
                                            <span class="bold theme-font">67%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="user-pic rounded" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar6.jpg') }}"> </td>
                                        <td>
                                            <a href="javascript:;" class="primary-link">Tim</a>
                                        </td>
                                        <td> $1,345 </td>
                                        <td> 450 </td>
                                        <td> 46 </td>
                                        <td>
                                            <span class="bold theme-font">98%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="user-pic rounded" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar7.jpg') }}"> </td>
                                        <td>
                                            <a href="javascript:;" class="primary-link">Tom</a>
                                        </td>
                                        <td> $645 </td>
                                        <td> 50 </td>
                                        <td> 89 </td>
                                        <td>
                                            <span class="bold theme-font">58%</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-green">
                                <span class="caption-subject bold uppercase">Product Performance</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="dashboard_amchart_4" class="CSSAnimationChart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-green">
                                <span class="caption-subject bold uppercase">Revenue</span>
                                <span class="caption-helper">distance stats...</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="#">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="#">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="#">
                                    <i class="icon-trash"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="dashboard_amchart_1" class="CSSAnimationChart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-red">
                                <span class="caption-subject bold uppercase">Finance</span>
                                <span class="caption-helper">distance stats...</span>
                            </div>
                            <div class="actions">
                                <a href="#" class="btn btn-circle green btn-outline btn-sm">
                                    <i class="fa fa-pencil"></i> Export </a>
                                <a href="#" class="btn btn-circle green btn-outline btn-sm">
                                    <i class="fa fa-print"></i> Print </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="dashboard_amchart_3" class="CSSAnimationChart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- BEGIN REGIONAL STATS PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-share font-red-sunglo"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase">Regional Stats</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="region_statistics_loading">
                                <img src="{{ url_for('static', filename='dashboard/global/img/loading.gif') }}" alt="loading" /> </div>
                            <div id="region_statistics_content" class="display-none">
                                <div class="btn-toolbar margin-bottom-10">
                                    <div class="btn-group btn-group-circle" data-toggle="buttons">
                                        <a href="" class="btn grey-salsa btn-sm active"> Users </a>
                                        <a href="" class="btn grey-salsa btn-sm"> Orders </a>
                                    </div>
                                    <div class="btn-group pull-right">
                                        <a href="" class="btn btn-circle grey-salsa btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Select Region
                                            <span class="fa fa-angle-down"> </span>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="javascript:;" id="regional_stat_world"> World </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" id="regional_stat_usa"> USA </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" id="regional_stat_europe"> Europe </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" id="regional_stat_russia"> Russia </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" id="regional_stat_germany"> Germany </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="vmap_world" class="vmaps display-none"> </div>
                                <div id="vmap_usa" class="vmaps display-none"> </div>
                                <div id="vmap_europe" class="vmaps display-none"> </div>
                                <div id="vmap_russia" class="vmaps display-none"> </div>
                                <div id="vmap_germany" class="vmaps display-none"> </div>
                            </div>
                        </div>
                    </div>
                    <!-- END REGIONAL STATS PORTLET-->
                </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">

                    <a href="{{ url_for('backend.business_employees', **form_kwargs) }}">
                        Employees
                    </a>

                    <span class="pull-right text-muted">
                      {{ group_and_count_employees.total }}
                    </span>
                  </div>
                  <div class="panel-body">
                    {% for item in group_and_count_employees.query %}
                      {% set percent = ((item[0] / group_and_count_employees.total) * 100) | round %}
                      <h5>
                        {{ item[1] | title }}
                        <span class="text-muted">({{ item[0] }})</span>
                      </h5>
                      <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ percent }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ percent }}%;">
                          {{ percent }}%
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="row">
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="{{ url_for('backend.business_products', **form_kwargs) }}">
                        Products
                    </a>
                    <span class="pull-right text-muted">
                      {{ group_and_count_products.total }}
                    </span>
                  </div>
                  <div class="panel-body">
                    {% for item in group_and_count_products.query %}
                      {% set percent = ((item[0] / group_and_count_products.total) * 100) | round %}
                      <h5>
                        {{ item[1] | title }}
                        <span class="text-muted">({{ item[0] }})</span>
                      </h5>
                      <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ percent }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ percent }}%;">
                          {{ percent }}%
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="row">
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    {% set form_kwargs = {'id': business.id, 'call':"view"} %}
                    <a href="{{ url_for('backend.business_calendar', **form_kwargs) }}">
                        Reservations
                    </a>
                    <span class="pull-right text-muted">
                      {{ group_and_count_reservations.total }}
                    </span>
                  </div>
                  <div class="panel-body">
                    {% for item in group_and_count_reservations.query %}
                      {% set percent = ((item[0] / group_and_count_reservations.total) * 100) | round %}
                      <h5>
                        {{ item[1] | title }}
                        <span class="text-muted">({{ item[0] }})</span>
                      </h5>
                      <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ percent }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ percent }}%;">
                          {{ percent }}%
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


