{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Admin - Businesses / Add | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            {% include 'backend/business/_form.jinja2' with context %}
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


{% block footer_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(function () {

            $('#opening_time_datetimepicker').datetimepicker({
                    format: 'LT'
                });
            $('#closing_time_datetimepicker').datetimepicker({
                    format: 'LT'
                });

            $("#opening_time_datetimepicker").on("dp.change", function (e) {
                console.log(e.date);

                var moment_date = e.date;
                var time = moment(moment_date).format("h:mm A");

                console.log(time);

                $("#opening_time_datetimepicker input").val(time);
                $("#opening_time_datetimepicker input").text(time);

                console.log($("#opening_time_datetimepicker input").val());
                console.log($("#opening_time_datetimepicker input").text());

            });

            $("#closing_time_datetimepicker").on("dp.change", function (e) {
                console.log(e.date);

                var moment_date = e.date;
                var time = moment(moment_date).format("h:mm A");

                console.log(time);

                $("#closing_time_datetimepicker input").val(time);
                $("#closing_time_datetimepicker input").text(time);

                console.log($("#closing_time_datetimepicker input").val());
                console.log($("#closing_time_datetimepicker input").text());

            });

        });

    </script>
{% endblock %}