{% import 'dashboard/macros/form.jinja2' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'backend.business_customers_new' %}
  {% set form_kwargs = {'username': business.username} %}
  {% set legend = 'Add a new Customer' %}
  {% set button = _('Add') %}
{% else %}
  {% set endpoint = 'backend.business_customer_edit' %}
  {% set form_kwargs = {'username': business.username, 'customer_id': customer.id} %}
  {% set legend = 'Update this customer' %}
  {% set button = _('Save') %}
{% endif %}


{% call f.form_tag(endpoint, **form_kwargs) %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i> {{ legend }} 
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">

            <div class="form-body">
                <h3 class="form-section">Personal Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.first_name, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.last_name, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.email, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.phone, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.gender, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.active_customer, checked=True, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <h3 class="form-section">Address</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">

                                <label class="control-label"><span class="required"> * </span><strong>Country: </strong></label>
                                <select class="crs-country form-control" data-region-id="one" id="country-select" onchange="countrySelect()"></select>
                                <div style="display: none;">
                                    {% call f.form_group(form.country, css_class='sm-margin-bottom') %}
                                    {% endcall %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                <label class="control-label"><span class="required"> * </span><strong>State/Province: </strong></label>
                                <select id="one" data-value="shortcode" onchange="stateSelect()" class="form-control"></select>
                                <div style="display: none;">
                                    {% call f.form_group(form.state, css_class='sm-margin-bottom') %}
                                    {% endcall %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <br/>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.city, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                {% call f.form_group(form.zipcode, css_class='sm-margin-bottom') %}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-9">
                              {% call f.form_group(form.metro, css_class='sm-margin-bottom') %}
                              {% endcall %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-12">

                                <div class="row">
                                    <div class="col-md-3">
                                        {% if current_user.email == "demo@lyfeshoppe.com" %}
                                            <a href="{{ url_for('backend.business_customers', **form_kwargs) }}"
                                               class="btn green btn-block">
                                              {{ _('Save (not for demo user)') }}
                                            </a>
                                        {% else %}
                                            <button type="submit" class="btn green">
                                                {{ button }}
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="visible-xs visible-sm sm-margin-top"></div>
                                        <a href="{{ url_for('backend.business_customers', **form_kwargs) }}"
                                           class="btn red btn-block">
                                          {{ _('Cancel') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>


        </form>
        <!-- END FORM-->
    </div>
</div>
{% endcall %}