{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Admin - Customers / Update | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            {% include 'backend/customer/_form.jinja2' with context %}
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}

{% block footer_scripts %}
    <script src="{{ url_for('static', filename='common/js/jquery.crs.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        function countrySelect() {
            $('#country').val($('#country-select').val());
        }
        function stateSelect() {
            $('#state').val($('#one').val());
        }
    </script>
{% endblock %}
