{% extends 'dashboard/layouts/app.jinja2' %}
{% import 'dashboard/macros/items.jinja2' as items %}
{% import 'dashboard/macros/form.jinja2' as f with context %}

{% block title %}
    Customers / List | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set form_kwargs = {'id': business.id} %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-building"></i>Customers</div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-6">
                                  {{ f.search('backend.business_customers', form_kwargs) }}
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ url_for('backend.business_customers_new', **form_kwargs) }}"
                                       class="btn sbold green pull-right">
                                        <i class="fa fa-plus"></i> Add Customer
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                {% if customers.total == 0 %}
                                    <h3>No results found</h3>
                                    {% if request.args.get('q') %}
                                        <p>Try limiting or removing your search terms.</p>
                                    {% else %}
                                        <p>There are no customers present.</p>
                                    {% endif %}
                                {% else %}
                                    {% call f.form_tag('backend.business_customers_bulk_deactivate', **form_kwargs) %}
                                    <div class="table-scrollable">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label for="select_all"></label>
                                                        <input id="select_all" name="select_all" type="checkbox">
                                                    </th>
                                                    <th class="col-header">
                                                        Edit Customer
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('user.name', 'Name') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('user.email', 'Email') }}
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('user.phone', 'Phone') }}
                                                    </th>
                                                    <th class="col-header">
                                                        Num of Reservations
                                                    </th>
                                                    <th class="col-header">
                                                        {{ items.sort('active') }}
                                                    </th>
                                                    <th id="bulk_actions" colspan="5">
                                                        <div class="form-inline">
                                                            {{ f.field(bulk_form.scope, inline=True) }}
                                                            <button type="submit" class="btn btn-danger btn-sm"> Activate/Deactivate Customer </button>
                                                        </div>
                                                    </th>
                                                    <th class="col-header">
                                                        Customer Reviews
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for customer in customers.items %}
                                                    <tr>
                                                        <td>
                                                            <label for="bulk_ids"></label>
                                                            <input class="checkbox-item" id="bulk_ids" name="bulk_ids" type="checkbox" value="{{ customer.id }}">
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('backend.business_customer_edit', id=business.id, customer_id=customer.id) }}" class="btn btn-outline btn-circle btn-sm purple">
                                                                <i class="fa fa-edit"></i> Edit
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {{ customer.user.name }}
                                                        </td>
                                                        <td>
                                                            {{ customer.user.email }}
                                                        </td>
                                                        <td>
                                                            {{ customer.phone }}
                                                        </td>
                                                        <td>
                                                            {{ customer.num_of_reservations }}
                                                        </td>
                                                        <td>
                                                            {% if customer.active %}
                                                                {% set data = "label label-md label-success label" %}
                                                            {% else %}
                                                                {% set data = "label label-md label-warning label" %}
                                                            {% endif %}
                                                            <span class="{{ data }}"> {{ customer.active }} </span>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('backend.business_customer_request_review', id=business.id, customer_id=customer.id) }}" class="btn btn-outline btn-circle btn-sm purple">
                                                                <i class="fa fa-smile-o"></i> Request
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endcall %}
                                    {{ items.paginate(customers, form_kwargs) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}
