{% extends 'frontend/layouts/base.jinja2' %}

{% block header %}
  
    <!-- Header
    ============================================= -->
    <header id="header">

      <div id="header-wrap">

        <div class="container clearfix">

          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="{{ url_for('sample_frontend.index') }}" class="standard-logo" data-dark-logo="{{ url_for('static', filename='frontend/images/logo-dark.png') }}"><img src="{{ url_for('static', filename='frontend/images/logo.png') }}" alt="Cheermonk Logo"></a>
            <a href="{{ url_for('sample_frontend.index') }}" class="retina-logo" data-dark-logo="{{ url_for('static', filename='frontend/images/logo-dark@2x.png') }}"><img src="{{ url_for('static', filename='frontend/images/logo@2x.png') }}" alt="Cheermonk Logo"></a>
          </div><!-- #logo end -->

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu">

            <ul>
              <li class="current"><a href="#"><div>Home</div><span>Lets Start</span></a>
                <ul>
                  <li><a href="{{ url_for('sample_frontend.index_corporate') }}"><div>Home - Corporate</div></a></li>
                  <li><a href="{{ url_for('sample_frontend.index_portfolio') }}"><div>Home - Portfolio</div></a></li>
                </ul>
              </li>
              <li><a href="#"><div>Accessories</div><span>Awesome Works</span></a></li>
              <li><a href="#"><div>Sale</div><span>Awesome Works</span></a></li>
              <li><a href="#"><div>Blog</div><span>Latest News</span></a></li>
                  
              {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('stream.live_stream') }}">Dashboard</a></li>
                <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
              {% else %}
                <li><a href="{{ url_for('page.learn_more') }}">Investors</a></li>
                <li><a href="{{ url_for('billing.pricing') }}">Businesses</a></li>
              {% endif %}
                
            </ul>

          </nav><!-- #primary-menu end -->

        </div>

      </div>

    </header><!-- #header end -->

{% endblock %}

{% block footer %}
    <li><a href="{{ url_for('page.faq') }}">FAQ</a></li>
    <li><a href="{{ url_for('issue.support') }}">Support</a></li>
    <li><a href="{{ url_for('page.privacy') }}">Privacy policy</a></li>
    <li><a href="{{ url_for('page.terms') }}">Terms of service</a></li>
{% endblock %}
