{% import 'frontend/macros/layout/meta_tags.jinja2' as meta_tags %}
{% import 'frontend/macros/layout/fav_icons.jinja2' as fav_icons %}
{% import 'frontend/macros/layout/assets.jinja2' as assets with context %}
{% import 'frontend/macros/layout/analytics.jinja2' as analytics with context %}
{% import 'frontend/macros/layout/flash.jinja2' as flash with context %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <title>{% block title %}{% endblock %}</title>
  {{ meta_tags.render(csrf_token()) }}
  {{ fav_icons.render(self.title()) }}

  {{ assets.render() }}
  <style>

    .revo-slider-emphasis-text {
      font-size: 58px;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: 'Raleway', sans-serif;
      padding: 15px 20px;
      border-top: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
    }

    .revo-slider-desc-text {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      width: 650px;
      text-align: center;
      line-height: 1.5;
    }

    .revo-slider-caps-text {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3px;
      font-family: 'Raleway', sans-serif;
    }

  </style>

  {{ assets.polyfills() }}

  {{ analytics.google_ua() }}
</head>
<body{{ ' data-locale="' + current_user.locale + '"' if current_user.is_authenticated() }}>
{% block header %}{% endblock %}

{% block hero %}{% endblock %}

<main class="container">
  {{ flash.render() }}

  {% block heading %}{% endblock %}
  {% block body %}{% endblock %}
</main>

<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline">
            <li class="text-muted">{{ _('Cheermonk') }} &copy; 2015</li>
            {% block footer %}{% endblock %}
        </ul>
    </div>
</footer>


<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="{{ url_for('static', filename='frontend/js/functions.js') }}"></script>


</body>
</html>
