{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    CheerMonk | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
    We bring huge discounts from the best businesses around you.
{% endblock %}



