{% extends 'frontend/layouts/app.jinja2' %}

{% block title %}
	Investors | CheerMonk | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
	Cheermonk is currently seeking investors
{% endblock %}

{% block hero %}
{% endblock %}


{% block body %}

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<h3>Investors</h3>
					<p> Invest in one of the fastest growing startups in the super-hot ecommerce + social space !</p>
					<p>Send all questions to: <a href="mailto:support@cheermonk.com">investors@cheermonk.com</a>.</p>

				</div>
			</div>
		</section><!-- #content end -->

{% endblock %}
