<li class="nav-item start">
    <a href="{{ url_for('backend.business_dashboard', id=business.id) }}" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Business Dashboard</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.business_employees', id=business.id, page=1) }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Employees</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.business_products', id=business.id) }}" class="nav-link nav-toggle">
        <i class="icon-basket"></i>
        <span class="title">Products</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.business_reservations', id=business.id) }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Reservations</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.business_dashboard', id=business.id) }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Issues</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.business_dashboard', id=business.id) }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Reports</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item start">
    <a href="{{ url_for('backend.shop') }}" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Go Shopping</span>
        <span class="arrow"></span>
    </a>
</li>
