<li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
        <span><i class="icon-folder"></i>&nbsp; <span class="badge badge-danger"> {{business_services|length}} </span></span>
        <span class="title">LyfeShoppe</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        {% for service, service_name in business_services.iteritems() %}

            <li class="nav-item">
                <a href="javascript:;" target="_blank" class="nav-link">
                    <i class="icon-globe"></i> {{service_name}}
                    <span class="arrow nav-toggle"></span>
                </a>
                <ul class="sub-menu">
                    {% for type in business_service_types[service] %}
                    <li class="nav-item">
                        <a href="{{ url_for('backend.shops_list', type=type) }}" class="nav-link">
                            <i class="icon-tag"></i> {{business_types[type]}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>

        {% endfor %}
    </ul>
</li>

<li class="nav-item">
    <a href="{{ url_for('backend.purchases') }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Purchases</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.referrals') }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Your Referrals</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('backend.reviews') }}" class="nav-link nav-toggle">
        <i class="icon-bulb"></i>
        <span class="title">Your Reviews</span>
        <span class="arrow"></span>
    </a>
</li>
<li class="nav-item">
    {% if current_user.num_of_businesses == 0 %}
        <a href="{{ url_for('backend.businesses_new') }}" class="nav-link nav-toggle">
            <i class="icon-basket"></i>
            <span class="title">Create your Shop</span>
            <span class="arrow"></span>
        </a>
    {% elif current_user.num_of_businesses == 1 %}
        <a href="{{ url_for('backend.business_dashboard', id=current_user.id_of_businesses[0]) }}" class="nav-link nav-toggle">
            <i class="icon-basket"></i>
            <span class="title">Your Shop</span>
            <span class="arrow"></span>
        </a>
    {% else %}
        <a href="{{ url_for('backend.businesses') }}" class="nav-link nav-toggle">
            <i class="icon-basket"></i>
            <span class="title">Your Shops</span>
            <span class="arrow"></span>
        </a>
    {% endif %}
</li>
<li class="nav-item  ">
    <a href="javascript:;" class="nav-link nav-toggle">
        <span><i class="icon-bulb"></i>&nbsp; <span class="badge badge-success"> 5 </span></span>
        <span class="title">Pages</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item  ">
            <a href="{{ url_for('page.faq') }}" class="nav-link ">
                <span class="title">FAQs</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="{{ url_for('issue.support') }}" class="nav-link ">
                <span class="title">Support</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="{{ url_for('page.investors') }}" class="nav-link ">
                <span class="title">Investors</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="{{ url_for('page.privacy') }}" class="nav-link ">
                <span class="title">Privacy Policy</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="{{ url_for('page.terms') }}" class="nav-link ">
                <span class="title">Terms & Conditions</span>
            </a>
        </li>
    </ul>
</li>