{% extends 'dashboard/layouts/app.jinja2' %}
{% import 'dashboard/macros/items.jinja2' as items %}
{% import 'dashboard/macros/form.jinja2' as f with context %}

{% block title %}
    Reservations / List | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}
    {% set form_kwargs = {'id': business.id} %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title"> Reservations. </h3>
            <!-- END PAGE HEADER-->

            <div class="row">
                <div class="col-md-6">
                  {{ f.search('backend.business_reservations', form_kwargs) }}
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for('backend.business_reservations_new', **form_kwargs) }}"
                       class="btn btn-primary pull-right">
                        Add Reservation
                    </a>
                </div>
            </div>

            <div class="row">
                {% if reservations.total == 0 %}
                    <h3>No results found</h3>
                    {% if request.args.get('q') %}
                        <p>Try limiting or removing your search terms.</p>
                    {% else %}
                        <p>There are no reservations present.</p>
                    {% endif %}
                {% else %}
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="col-header">
                                    {{ items.sort('id', 'Id') }}
                                </th>
                                <th class="col-header">
                                    {{ items.sort('status', 'Status') }}
                                </th>
                                <th class="col-header">
                                    {{ items.sort('start_time', 'Start time') }}
                                </th>
                                <th class="col-header">
                                    {{ items.sort('end_time', 'End time') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in reservations.items %}
                                <tr>
                                    <td>
                                        <div>
                                            <a href="{{ url_for('backend.business_reservation_edit', id=business.id, reservation_id=reservation.id) }}">
                                                {{ reservation.id }}
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        {{ reservation.status }}
                                    </td>
                                    <td>
                                        {{ reservation.start_time }}
                                    </td>
                                    <td>
                                        {{ reservation.end_time }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ items.paginate(reservations, form_kwargs) }}
                {% endif %}
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}
