{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Dashboard | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
    We bring huge discounts from the best businesses around you.
{% endblock %}

{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title"> Thank you for registering. </h3>
            <!-- END PAGE HEADER-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}