{% extends 'frontend/layouts/app.jinja2' %}

{% block title %}
    FAQs | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
    We bring huge discounts from the best businesses around you.
{% endblock %}

{% block hero %}
{% endblock %}


{% block body %}

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <h3>FAQs:</h3>

                    <p>LyfeShoppe is a social ecommerce platform built to benefit small businesses as well as consumers.</p>

                    <div class="divider"><i class="icon-circle"></i></div>

                    <div class="col_half nobottommargin">

                        <h4>General Questions <small>(3)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Is LyfeShoppe free ?</div>
                            <div class="acc_content clearfix">
                                Yes. LyfeShoppe is completely free to use for everyone.
                            </div>

                            <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Can I request for new features to be added on LyfeShoppe ?</div>
                            <div class="acc_content clearfix">
                                Yes ! Send us an email at <a href="mailto:lyfeshoppe@gmail.com">lyfeshoppe@gmail.com</a> OR send your request on: <a href="{{url_for('issue.support')}}">Support Requests</a>
                            </div>

                            <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>I love LyfeShoppe. How do I support/help it ?</div>
                            <div class="acc_content clearfix">
                                Consider donating to us - you can opt for monthly donations too when you make your donations =)
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		                        <input type="hidden" name="cmd" value="_s-xclick">
		                        <input type="hidden" name="hosted_button_id" value="CFFXWKXAJU6NE">
		                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		                        </form>
                            </div>

                        </div>

                        <h4 class="topmargin">Questions by Consumers <small>(2)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-picture"></i><i class="acc-open icon-picture"></i>How can my profile be created on LyfeShoppe ?</div>
                            <div class="acc_content clearfix">
                            	When a business registers you as an employee or customer &amp; your profile will be automatically created.
                            	If this happens, you will receive an email with your password.
                            	If your profile doesnt exist; you may <a href="{{ url_for('user.signup') }}">register here</a>.
                            </div>

                            <div class="acctitle"><i class="acc-closed icon-file3"></i><i class="acc-open icon-file3"></i>How is LyfeShoppe useful for consumers ?</div>
                            <div class="acc_content clearfix">All your bookings can now be found in one place. You may also search for new lifestyle services on LyfeShoppe &amp; book an appointment in a few steps.</div>

                        </div>

                    </div>

                    <div class="col_half nobottommargin col_last">

                    	<h4>Questions by Business Owners <small>(3)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock3"></i>How do i list my business on LyfeShoppe ?</div>
                            <div class="acc_content clearfix">
                        		You must first <a href="{{ url_for('user.signup') }}">register here</a>. Once registered; you can add all your businesses on LyfeShoppe.
                            </div>

                        	<div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>How does lyfeshoppe help businesses ?</div>
                            <div class="acc_content clearfix">
                            	LyfeShoppe is a free service that helps your business manage bookings/reservations for all your clients.
                            	You can add 100's of products, multiple employees &amp; manage all their bookings from one place.
                            	It also helps your manage your client list, send them automated emails/reminders &amp; discover new customers for your business.
                                Our experiments say that; with effective use; you can expect upto 300% increase in sales as our platform matures.
                            </div>

                            <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock3"></i>How much revenue lift can my business expect ?</div>
                            <div class="acc_content clearfix">
                                Once the platform matures; you can expect to receive upto 300% boost (estimated) in sales.
                            </div>

                        </div>
                        

                        <h4 class="topmargin">Platform <small>(1)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Is LyfeShoppe stable for use ?</div>
                            <div class="acc_content clearfix">
                            	LyfeShoppe is currently in Alpha release - if you find issues please report it under: <a href="{{url_for('issue.support')}}">Support Requests</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section><!-- #content end -->

{% endblock %}
