{% extends 'frontend/layouts/app.jinja2' %}

{% block title %}
	LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
	We bring huge discounts from the best businesses around you.
{% endblock %}

{% block hero %}

	<section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

			<!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->
			<div class="tp-banner-container">
				<div class="tp-banner" >
					<ul>    <!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-saveperformance="off" data-title="Latest Collections" style="background-color: #F6F6F6;">
					<!-- LAYERS -->

					<!-- LAYER NR. 2 -->
					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="100"
					data-y="50"
					data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="400"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=""><img src="{{ url_for('static', filename='frontend/images/slider/rev/shop/massage.png') }}" alt="Massage"></div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="570"
					data-y="75"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333;">Spa, Salons, Fitness, Beauty &amp; Massage Studios</div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
					data-x="570"
					data-y="105"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1200"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; max-width: 430px; white-space: normal; line-height: 1.15;">Register your Studio today ! </div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
					data-x="570"
					data-y="275"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1400"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">Booking appoinments on LyfeShoppe is easy !</div>

					<div class="tp-caption customin ltl tp-resizeme"
					data-x="570"
					data-y="375"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1550"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style="">
						{% if current_user.is_authenticated() %}
						{% else %}
							<a href="{{ url_for('user.signup') }}" class="button button-border button-large button-rounded tright nomargin"><span>Register</span></a>
							<a href="{{ url_for('user.login') }}" class="button button-border button-large button-rounded tright nomargin"><span>Login</span></a>
						{%endif%}
					</div>

				</li>
				<!-- SLIDE  -->
				<li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off"  data-title="Messenger bags" style="background-color: #E9E8E3;">
					<!-- LAYERS -->

					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="630"
					data-y="78"
					data-customin="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="400"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=""><img src="{{ url_for('static', filename='frontend/images/slider/rev/shop/sport_training.png') }}" alt="Group Lessons"></div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="0"
					data-y="110"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333;">Lessons in Music, Math, Sport, Yoga, Cooking (everything)...</div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
					data-x="0"
					data-y="140"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1200"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; white-space: normal; line-height: 1.15;">Teach on LyfeShoppe</div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
					data-x="0"
					data-y="240"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1400"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">Scheduling single &amp; group training for beauty, health, music, fitness, sport, cooking, etc is a breeze.</div>

					<div class="tp-caption customin ltl tp-resizeme"
					data-x="0"
					data-y="340"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1550"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style="">
						{% if current_user.is_authenticated() %}
						{% else %}
							<a href="{{ url_for('user.signup') }}" class="button button-border button-large button-rounded tright nomargin"><span>Register</span></a>
							<a href="{{ url_for('user.login') }}" class="button button-border button-large button-rounded tright nomargin"><span>Login</span></a>
						{% endif %}
					</div>
				</li>
			</ul>
			</div>
			</div>

			<script type="text/javascript">

				jQuery(document).ready(function() {

					jQuery('.tp-banner').show().revolution(
					{
						dottedOverlay:"none",
						delay:16000,
						startwidth:1140,
						startheight:500,
						hideThumbs:200,

						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,

						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"preview2",

						touchenabled:"on",
						onHoverStop:"on",

						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,

						parallax:"mouse",
						parallaxBgFreeze:"on",
						parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

						keyboardNavigation:"off",

						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,

						shadow:0,
						fullWidth:"on",
						fullScreen:"off",

						spinner:"spinner4",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",

						autoHeight:"off",
						forceFullWidth:"off",



						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,

						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						fullScreenOffsetContainer: ".header"
					});




				}); //ready

			</script>

			<!-- END REVOLUTION SLIDER -->

		</section>

{% endblock %}


{% block body %}
	<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">


					{% if current_user.is_authenticated() %}

					{% else %}

						<div class="col-md-8 nopadding">
							<div class="col-md-6 noleftpadding bottommargin-sm">
								<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/banners/2.jpg') }}" alt="Image"></a>
							</div>
							<div class="col-md-6 noleftpadding bottommargin-sm">
								<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/banners/8.jpg') }}" alt="Image"></a>
							</div>

							<div class="clear"></div>

							<div class="col-md-12 noleftpadding">
								<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/banners/4.jpg') }}" alt="Image"></a>
							</div>
						</div>

						<div class="col-md-4 nopadding">
							<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/banners/9.jpg') }}" alt="Image"></a>
						</div>

						<div class="clear"></div>

					{% endif %}


					{% if current_user.is_authenticated() %}

					{% else %}


						<div class="tabs topmargin-lg clearfix" id="tab-3">

							<ul class="tab-nav clearfix">
								<li><a href="{{ url_for('static', filename='frontend/./#tabs-9') }}">New Arrivals</a></li>
							</ul>

							<div class="tab-container">

								<div class="tab-content clearfix" id="tabs-9">

									<div id="shop" class="clearfix">

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/1.jpg') }}" alt="Checked Short Dress"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/1-1.jpg') }}" alt="Checked Short Dress"></a>
												<div class="sale-flash">50% Off*</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Checked Short Dress</a></h3></div>
												<div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/pants/1-1.jpg') }}" alt="Slim Fit Chinos"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/pants/1.jpg') }}" alt="Slim Fit Chinos"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Slim Fit Chinos</a></h3></div>
												<div class="product-price">$39.99</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<div class="fslider" data-arrows="false">
													<div class="flexslider">
														<div class="slider-wrap">
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/shoes/1.jpg') }}" alt="Dark Brown Boots"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/shoes/1-1.jpg') }}" alt="Dark Brown Boots"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/shoes/1-2.jpg') }}" alt="Dark Brown Boots"></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Dark Brown Boots</a></h3></div>
												<div class="product-price">$49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/2.jpg') }}" alt="Light Blue Denim Dress"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/2-2.jpg') }}" alt="Light Blue Denim Dress"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Light Blue Denim Dress</a></h3></div>
												<div class="product-price">$19.95</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

									</div>

								</div>

								<div class="tab-content clearfix" id="tabs-10">

									<div id="shop" class="clearfix">

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/sunglasses/1.jpg') }}" alt="Unisex Sunglasses"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/sunglasses/1-1.jpg') }}" alt="Unisex Sunglasses"></a>
												<div class="sale-flash">Sale!</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Unisex Sunglasses</a></h3></div>
												<div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/tshirts/1.jpg') }}" alt="Blue Round-Neck Tshirt"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/tshirts/1-1.jpg') }}" alt="Blue Round-Neck Tshirt"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Blue Round-Neck Tshirt</a></h3></div>
												<div class="product-price">$9.99</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/watches/1.jpg') }}" alt="Silver Chrome Watch"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/watches/1-1.jpg') }}" alt="Silver Chrome Watch"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Silver Chrome Watch</a></h3></div>
												<div class="product-price">$129.99</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/shoes/2.jpg') }}" alt="Men Grey Casual Shoes"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/shoes/2-1.jpg') }}" alt="Men Grey Casual Shoes"></a>
												<div class="sale-flash">Sale!</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Men Grey Casual Shoes</a></h3></div>
												<div class="product-price"><del>$45.99</del> <ins>$39.49</ins></div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

									</div>
								</div>

								<div class="tab-content clearfix" id="tabs-11">

									<div id="shop" class="clearfix">

										<div class="product clearfix">
											<div class="product-image">
												<div class="fslider" data-arrows="false">
													<div class="flexslider">
														<div class="slider-wrap">
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/3.jpg') }}" alt="Pink Printed Dress"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/3-1.jpg') }}" alt="Pink Printed Dress"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/3-2.jpg') }}" alt="Pink Printed Dress"></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Pink Printed Dress</a></h3></div>
												<div class="product-price">$39.49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/pants/5.jpg') }}" alt="Green Trousers"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/pants/5-1.jpg') }}" alt="Green Trousers"></a>
												<div class="sale-flash">Sale!</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Green Trousers</a></h3></div>
												<div class="product-price"><del>$24.99</del> <ins>$21.99</ins></div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/sunglasses/2.jpg') }}" alt="Men Aviator Sunglasses"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/sunglasses/2-1.jpg') }}" alt="Men Aviator Sunglasses"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Men Aviator Sunglasses</a></h3></div>
												<div class="product-price">$13.49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/tshirts/4.jpg') }}" alt="Black Polo Tshirt"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/tshirts/4-1.jpg') }}" alt="Black Polo Tshirt"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Black Polo Tshirt</a></h3></div>
												<div class="product-price">$11.49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


					{% endif %}

					<div class="clear bottommargin-sm"></div>

					<div class="col_one_third">
						<div class="fancy-title title-border">
							<h4>About Us</h4>
						</div>
						<p>LyfeShoppe is a platform to connect consumers &amp; small businesses. Our platform is built around:
							<br/>
							<strong>Synergy</strong> - Businesses help each other grow.
							<br/>
							<strong>Symbiosis</strong> - Businesses &amp; consumers benefit each other.
						</p>
					</div>

					<div class="col_one_third">
						<div class="fancy-title title-border">
							<h4>For Businesses</h4>
						</div>
						<p>Leverage our platform to attract/retain customers, boost your business &amp; gain exponential growth.</p>
						<a href="#" class="button button-border button-large button-rounded tright nomargin"><span>Register your Business</span></a>
					</div>

					<div class="col_one_third col_last">
						<div class="fancy-title title-border">
							<h4>Referrals</h4>
						</div>
						<p> Refer your friends &amp; other businesses and earn a percentage on every transaction they make !</p>
						<a href="#" class="button button-border button-large button-rounded tright nomargin"><span>Refer &amp; Earn</span></a>
					</div>

					<div class="clear"></div>

					<div class="fancy-title title-border title-center topmargin-sm">
						<h4>Partner Brands</h4>
					</div>

					<ul class="clients-grid grid-6 nobottommargin clearfix">
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/1.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/2.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/3.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/4.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/5.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/6.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/7.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/8.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/9.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/10.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/11.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/12.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/13.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/14.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/15.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/16.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/19.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/18.png') }}" alt="Clients"></a></li>
					</ul>

				</div>
			</div>
		</section><!-- #content end -->
{% endblock %}
