{% extends 'frontend/layouts/app.jinja2' %}

{% block title %}
	LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
	We bring huge discounts from the best businesses around you.
{% endblock %}

{% block hero %}

	<section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

			<!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->
			<div class="tp-banner-container">
				<div class="tp-banner" >
					<ul>    <!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-saveperformance="off" data-title="Register your Business" style="background-color: #F6F6F6;">
					<!-- LAYERS -->

					<!-- LAYER NR. 2 -->
					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="100"
					data-y="50"
					data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="400"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=""><img src="{{ url_for('static', filename='frontend/images/slider/rev/shop/massage.png') }}" alt="Register your Business"></div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="570"
					data-y="75"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333;">Spa, Salons, Fitness, Beauty &amp; Massage Studios</div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
					data-x="570"
					data-y="105"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1200"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; max-width: 430px; white-space: normal; line-height: 1.15;">Register your Studio today ! </div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
					data-x="570"
					data-y="275"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1400"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">Booking appoinments on LyfeShoppe is easy !</div>

					<div class="tp-caption customin ltl tp-resizeme"
					data-x="570"
					data-y="375"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1550"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style="">
						{% if current_user.is_authenticated() %}
						{% else %}
							<a href="{{ url_for('user.signup') }}" class="button button-border button-large button-rounded tright nomargin"><span>Register</span></a>
							<a href="{{ url_for('user.login') }}" class="button button-border button-large button-rounded tright nomargin"><span>Login</span></a>
						{%endif%}
					</div>

				</li>
				<!-- SLIDE  -->
				<li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off"  data-title="Teach &amp; Learn" style="background-color: #E9E8E3;">
					<!-- LAYERS -->

					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="630"
					data-y="78"
					data-customin="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="400"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=""><img src="{{ url_for('static', filename='frontend/images/slider/rev/shop/sport_training.png') }}" alt="Teach and Learn"></div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
					data-x="0"
					data-y="110"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1000"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333;">Lessons in Music, Math, Sport, Yoga, Cooking (everything)...</div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
					data-x="0"
					data-y="140"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1200"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; white-space: normal; line-height: 1.15;">Teach on LyfeShoppe</div>

					<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
					data-x="0"
					data-y="240"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1400"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style=" color: #333; max-width: 550px; white-space: normal;">Scheduling single &amp; group training for beauty, health, music, fitness, sport, cooking, etc is a breeze.</div>

					<div class="tp-caption customin ltl tp-resizeme"
					data-x="0"
					data-y="340"
					data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="700"
					data-start="1550"
					data-easing="easeOutQuad"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.01"
					data-endelementdelay="0.1"
					data-endspeed="1000"
					data-endeasing="Power4.easeIn" style="">
						{% if current_user.is_authenticated() %}
						{% else %}
							<a href="{{ url_for('user.signup') }}" class="button button-border button-large button-rounded tright nomargin"><span>Register</span></a>
							<a href="{{ url_for('user.login') }}" class="button button-border button-large button-rounded tright nomargin"><span>Login</span></a>
						{% endif %}
					</div>
				</li>
			</ul>
			</div>
			</div>

			<script type="text/javascript">

				jQuery(document).ready(function() {

					jQuery('.tp-banner').show().revolution(
					{
						dottedOverlay:"none",
						delay:16000,
						startwidth:1140,
						startheight:500,
						hideThumbs:200,

						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,

						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"preview2",

						touchenabled:"on",
						onHoverStop:"on",

						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,

						parallax:"mouse",
						parallaxBgFreeze:"on",
						parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

						keyboardNavigation:"off",

						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,

						shadow:0,
						fullWidth:"on",
						fullScreen:"off",

						spinner:"spinner4",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",

						autoHeight:"off",
						forceFullWidth:"off",



						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,

						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						fullScreenOffsetContainer: ".header"
					});




				}); //ready

			</script>

			<!-- END REVOLUTION SLIDER -->

		</section>

{% endblock %}


{% block body %}
	<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">
					<div>
						<div class="col_one_third">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-screen i-alt"></i></a>
								</div>
								<h3>Gain New Customers</h3>
								<p>Your shop will be presented to 1000's of local users thus helping you get new customers.</p>
							</div>
						</div>

						<div class="col_one_third">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-eye i-alt"></i></a>
								</div>
								<h3>Bookings Made Easy</h3>
									<div class="col-md-12">
									<ul>
										<li>
											Unlimited Staff/Service bookings
										</li>
										<li>
											Automatic Invoices &amp; notifications
										</li>
										<li>
											Bookings for Group as well as single sessions
										</li>
									</ul>
									</div>
							</div>
						</div>

						<div class="col_one_third col_last">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-beaker i-alt"></i></a>
								</div>
								<h3>Non-peak hours solved !</h3>
								<p>LyfeShoppe helps fill in unused spots in your business calendar. Get more bookings &amp; say yes to more revenues !</p>
							</div>
						</div>

						<div class="clear"></div>

						<div class="col_one_third nobottommargin">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-stack i-alt"></i></a>
								</div>
								<h3>Premium Sliders Included</h3>
								<p>Cheermonk included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
							</div>
						</div>

						<div class="col_one_third nobottommargin">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-tint i-alt"></i></a>
								</div>
								<h3>Unlimited Color Options</h3>
								<p>Change the color scheme of the Theme in a flash just by changing the 6-digit HEX code in the colors.php file.</p>
							</div>
						</div>

						<div class="col_one_third nobottommargin col_last">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-text-width i-alt"></i></a>
								</div>
								<h3>CUSTOMIZABLE FONTS</h3>
								<p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
							</div>
						</div>

						<div class="clear"></div>
					</div>

					<div class="section notopborder topmargin-sm bottommargin-sm noborder nobg">
					<h1 style="text-align:center">Benefits to you:</h1>
					</br></br>
						<div class="container clearfix">

							<div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
								<i class="i-plain i-xlarge divcenter nobottommargin icon-calendar"></i>
								<div class="counter counter-lined"></span>Unlimited</div>
								<h5>Num of Bookings</h5>
							</div>

							<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
								<i class="i-plain i-xlarge divcenter nobottommargin icon-magic"></i>
								<div class="counter counter-lined"><span data-from="20" data-to="300" data-refresh-interval="100" data-speed="2500"></span>%</div>
								<h5>Avg. Lift in Revenues (Estimated)</h5>
							</div>

							<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
								<i class="i-plain i-xlarge divcenter nobottommargin icon-file-text"></i>
								<div class="counter counter-lined">$<span data-from="1000" data-to="0" data-refresh-interval="250" data-speed="2500"></span></div>
								<h5>Cost to you</h5>
							</div>

							<div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
								<i class="i-plain i-xlarge divcenter nobottommargin icon-time"></i>
								<div class="counter counter-lined"><span data-from="10" data-to="1000" data-refresh-interval="50" data-speed="2700"></span>'s</div>
								<h5>New Customers</h5>
							</div>

						</div>

					</div>


					{% if current_user.is_authenticated() %}

					{% else %}


						<div class="tabs topmargin-lg clearfix" id="tab-3">

							<ul class="tab-nav clearfix">
								<li><a href="{{ url_for('static', filename='frontend/./#tabs-9') }}">New Services on LyfeShoppe</a></li>
							</ul>

							<div class="tab-container">

								<div class="tab-content clearfix" id="tabs-9">

									<div id="shop" class="clearfix">

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/tanning.jpg') }}" alt="Tanning Services"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/tanning-1.jpg') }}" alt="Tanning Services"></a>
												<div class="sale-flash">50% Off*</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Tanning Services</a></h3></div>
												<div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/dentist.jpg') }}" alt="Dental Services"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/dentist-1.jpg') }}" alt="Dental Services"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Dental Services</a></h3></div>
												<div class="product-price">$39.99</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<div class="fslider" data-arrows="false">
													<div class="flexslider">
														<div class="slider-wrap">
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/yoga.jpg') }}" alt="Yoga Classes"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/yoga-1.jpg') }}" alt="Yoga Classes"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/yoga-2.jpg') }}" alt="Yoga Classes"></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Yoga Classes</a></h3></div>
												<div class="product-price">$49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/cheerleading.jpg') }}" alt="Cheerleading Lessons"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Cheerleading lessons</a></h3></div>
												<div class="product-price">$49.95</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

									</div>

								</div>

								<div class="tab-content clearfix" id="tabs-10">

									<div id="shop" class="clearfix">

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/business_consulting.jpg') }}" alt="Business Consulting"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/business_consulting-1.jpg') }}" alt="Business Consulting"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/business_consulting-2.jpg') }}" alt="Business Consulting"></a>
												<div class="sale-flash">Sale!</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Business Consulting</a></h3></div>
												<div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/dance_classes-1.jpg') }}" alt="Dance Lessons"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/dance_classes-2.jpg') }}" alt="Dance Lessons"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Dance Lessons</a></h3></div>
												<div class="product-price">$9.99</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/spa.jpg') }}" alt="Spa Rejuvenation"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/spa-1.jpg') }}" alt="Spa Rejuvenation"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Spa Rejuvenation</a></h3></div>
												<div class="product-price">$129.99</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/nail_salon.jpg') }}" alt="Nail Salon"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/nail_salon-1.jpg') }}" alt="Nail Salon"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/nail_salon-2.jpg') }}" alt="Nail Salon"></a>
												<div class="sale-flash">Sale!</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Nail Salon</a></h3></div>
												<div class="product-price"><del>$45.99</del> <ins>$39.49</ins></div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

									</div>
								</div>

								<div class="tab-content clearfix" id="tabs-11">

									<div id="shop" class="clearfix">

										<div class="product clearfix">
											<div class="product-image">
												<div class="fslider" data-arrows="false">
													<div class="flexslider">
														<div class="slider-wrap">
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/portfolio_photography.jpg') }}" alt="Portfolio Photography Services"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/portfolio_photography-1.jpg') }}" alt="Portfolio Photography Services"></a></div>
															<div class="slide"><a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/portfolio_photography-2.jpg') }}" alt="Portfolio Photography Services"></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Portfolio Photography Services</a></h3></div>
												<div class="product-price">$39.49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/cooking_classes.jpg') }}" alt="Cooking classes"></a>
												<div class="sale-flash">Sale!</div>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Cooking classes</a></h3></div>
												<div class="product-price"><del>$24.99</del> <ins>$21.99</ins> / session</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-half-full"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/skating.jpg') }}" alt="Swim &amp; Skate Lessons"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/swim_lessons.jpg') }}" alt="Swim &amp; Skate Lessons"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Swim &amp; Skate Lessons</a></h3></div>
												<div class="product-price">$13.49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star-empty"></i>
												</div>
											</div>
										</div>

										<div class="product clearfix">
											<div class="product-image">
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/sail_lessons.jpg') }}" alt="Surf &amp; Sail Lessons"></a>
												<a href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename='frontend/images/shop/dress/surf_lessons.jpg') }}" alt="Surf &amp; Sail Lessons"></a>
											</div>
											<div class="product-desc">
												<div class="product-title"><h3><a href="{{ url_for('user.signup') }}">Surf &amp; Sail Lessons</a></h3></div>
												<div class="product-price">$11.49</div>
												<div class="product-rating">
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
													<i class="icon-star3"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


					{% endif %}

					<div class="clear bottommargin-sm"></div>

					<div class="col_one_third">
						<div class="fancy-title title-border">
							<h4>About Us</h4>
						</div>
						<p>LyfeShoppe is a platform to connect consumers &amp; small businesses. Our platform is built around:
							<br/>
							<strong>Synergy</strong> - Businesses help each other grow.
							<br/>
							<strong>Symbiosis</strong> - Businesses &amp; consumers benefit each other.
						</p>
					</div>

					<div class="col_one_third">
						<div class="fancy-title title-border">
							<h4>For Businesses</h4>
						</div>
						<p>Leverage our platform to attract/retain customers, boost your business &amp; gain exponential growth.</p>
						<a href="#" class="button button-border button-large button-rounded tright nomargin"><span>Register your Business</span></a>
					</div>

					<div class="col_one_third col_last">
						<div class="fancy-title title-border">
							<h4>Benefits</h4>
						</div>
						<p> LyfeShoppe is built to help all types of businesses - large studios as well as individuals. Whether you conduct group lessons, provide one-on-one services or have multiple employees &amp; products - you can list it all on LyfeShoppe for free !</p>
					</div>

					<div class="clear"></div>

					<div class="fancy-title title-border title-center topmargin-sm">
						<h4>Partner Brands</h4>
					</div>

					<ul class="clients-grid grid-6 nobottommargin clearfix">
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/1.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/2.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/3.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/4.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/5.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/6.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/7.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/8.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/9.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/10.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/11.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/12.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/13.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/14.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/15.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/16.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/19.png') }}" alt="Clients"></a></li>
						<li><a><img src="{{ url_for('static', filename='frontend/images/clients/logos/18.png') }}" alt="Clients"></a></li>
					</ul>

				</div>
			</div>
		</section><!-- #content end -->
{% endblock %}
