{% extends 'frontend/layouts/app.jinja2' %}

{% block title %}
	Investors | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block meta_description %}
	LyfeShoppe is currently seeking investors
{% endblock %}

{% block hero %}
{% endblock %}


{% block body %}

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<h3>Investors</h3>
					<p>Send all questions about investing in LyfeShoppe to: <a href="mailto:lyfeshoppe@gmail.com">lyfeshoppe@gmail.com</a></p>

					</br>
					</hr>
					</br>

					<h3>Donations</h3>
					<p>
						LyfeShoppe is a free service that helps small businesses cut its operational costs, gain revenue lift &amp; discover new customers.
						</br>
						It is estimated to be capable of providing over 300% in sales lift to small businesses !
						Your donations help us pay our server, network &amp; storage costs. </strong>Please support us</strong>:
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="CFFXWKXAJU6NE">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
					</p>

				</div>
			</div>
		</section><!-- #content end -->

{% endblock %}
