{% extends 'dashboard/layouts/app.jinja2' %}

{% block title %}
    Account | LyfeShoppe | Social Shop with huge discounts.
{% endblock %}

{% block content %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PROFILE SIDEBAR -->
                    <div class="profile-sidebar">
                        <!-- PORTLET MAIN -->
                        <div class="portlet light profile-sidebar-portlet ">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img src="{{ url_for('static', filename='dashboard/pages/media/profile/profile_user.jpg') }}" class="img-responsive" alt=""> </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name"> {{ current_user.name }} </div>
                                <div class="profile-usertitle-job"> {{ current_user.role }} </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="{{ url_for('backend.account') }}">
                                            <i class="icon-home"></i> Overview </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('backend.account_settings') }}">
                                            <i class="icon-settings"></i> Account Settings </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END BEGIN PROFILE SIDEBAR -->
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN PORTLET -->
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Your Referrals</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="row number-stats margin-bottom-30">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="stat-left">
                                                    <div class="stat-chart">
                                                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                                        <div id="sparkline_bar"></div>
                                                    </div>
                                                    <div class="stat-number">
                                                        <div class="title"> Total </div>
                                                        <div class="number"> 2460 </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="stat-right">
                                                    <div class="stat-chart">
                                                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                                        <div id="sparkline_bar2"></div>
                                                    </div>
                                                    <div class="stat-number">
                                                        <div class="title"> New </div>
                                                        <div class="number"> 719 </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-scrollable table-scrollable-borderless">
                                            <table class="table table-hover table-light">
                                                <thead>
                                                    <tr class="uppercase">
                                                        <th colspan="2"> MEMBER </th>
                                                        <th> POINTS </th>
                                                        <th> REFERRED </th>
                                                        <th> ACCEPTED </th>
                                                        <th> RATE </th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td class="fit">
                                                        <img class="user-pic" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar4.jpg') }}"> </td>
                                                    <td>
                                                        <a href="javascript:;" class="primary-link">Brain</a>
                                                    </td>
                                                    <td> $345 </td>
                                                    <td> 45 </td>
                                                    <td> 124 </td>
                                                    <td>
                                                        <span class="bold theme-font">80%</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fit">
                                                        <img class="user-pic" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar5.jpg') }}"> </td>
                                                    <td>
                                                        <a href="javascript:;" class="primary-link">Nick</a>
                                                    </td>
                                                    <td> $560 </td>
                                                    <td> 12 </td>
                                                    <td> 24 </td>
                                                    <td>
                                                        <span class="bold theme-font">67%</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fit">
                                                        <img class="user-pic" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar6.jpg') }}"> </td>
                                                    <td>
                                                        <a href="javascript:;" class="primary-link">Tim</a>
                                                    </td>
                                                    <td> $1,345 </td>
                                                    <td> 450 </td>
                                                    <td> 46 </td>
                                                    <td>
                                                        <span class="bold theme-font">98%</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fit">
                                                        <img class="user-pic" src="{{ url_for('static', filename='dashboard/pages/media/users/avatar7.jpg') }}"> </td>
                                                    <td>
                                                        <a href="javascript:;" class="primary-link">Tom</a>
                                                    </td>
                                                    <td> $645 </td>
                                                    <td> 50 </td>
                                                    <td> 89 </td>
                                                    <td>
                                                        <span class="bold theme-font">58%</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PORTLET -->
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}
