{% import 'frontend/macros/layout/meta_tags.jinja2' as meta_tags %}
{% import 'frontend/macros/layout/fav_icons.jinja2' as fav_icons %}
{% import 'frontend/macros/layout/assets.jinja2' as assets with context %}
{% import 'frontend/macros/layout/analytics.jinja2' as analytics with context %}
{% import 'frontend/macros/layout/flash.jinja2' as flash with context %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {{ meta_tags.render(csrf_token()) }}
    {{ fav_icons.render(self.title()) }}
    {{ assets.render() }}

    <style>
      .revo-slider-emphasis-text {
        font-size: 58px;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: 'Raleway', sans-serif;
        padding: 15px 20px;
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
      }
      .revo-slider-desc-text {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        width: 650px;
        text-align: center;
        line-height: 1.5;
      }
      .revo-slider-caps-text {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 3px;
        font-family: 'Raleway', sans-serif;
      }
    </style>

    {{ assets.polyfills() }}
    {{ analytics.google_ua() }}

    <script type="text/javascript">
    //<![CDATA[ 
    var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
    document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
    </script>
  </head>

  <body{{ ' data-locale="' + current_user.locale + '"' if current_user.is_authenticated() }} class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        {% block header %}{% endblock %}
        {% block hero %}{% endblock %}

        <main class="container">
          {{ flash.render() }}
          {% block heading %}{% endblock %}
          {% block body %}{% endblock %}
        </main>

        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">
          <div id="copyrights">
            <div class="container clearfix">
              <div class="col_half">
                <div class="col_half">
                  <script language="JavaScript" type="text/javascript">
                  TrustLogo("https://lyfeshoppe.com/static/common/images/comodo_secure_100x85_transp.png", "CL1", "none");
                  </script>
                  <a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>

                </div>
                <div class="col_half col_last tright">
                  {{ _('LyfeShoppe') }} &copy; 2016
                </div>
              </div>
              <div class="col_half col_last tright">
                <ul class="list-inline">
                  {% block footer %}{% endblock %}
                </ul>
              </div>
            </div>
          </div>
        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div> 

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{ url_for('static', filename='frontend/js/functions.js') }}"></script>

  </body>
</html>
